{% load static %}


<header id="site-header" class="header-front-page style-1">
    <div id="site-header-inner" class="container">
        <div class="wrap-inner">
            <div id="site-logo" class="clearfix">
                <div id="site-logo-inner">
                    <a href="/" title="Construction" rel="home" class="main-logo">
                        <img src="{% static 'assets/img/logo.png' %}" alt="Construction"
                             data-retina="{% static 'assets/img/logo@2x.png' %}" data-width="204" data-height="30">
                    </a>
                </div>
            </div><!-- /#site-logo -->

            <div class="mobile-button"><span></span></div><!-- //mobile menu button -->

            <nav id="main-nav" class="main-nav">
                <ul class="menu">
                    <li class="menu-item"><a href="{% url 'main:index' %}">Главная</a></li>
                    <li class="menu-item">
                        <a href="{% url 'products:products' %}">
                            <span class="{% if request.resolver_match.url_name == 'products' %}active{% endif %}">Технологии</span>
                        </a>
                    </li>
                    {#                    <li class="menu-item"><a href="#">Услуги</a></li>#}
                    <li class="menu-item">
                        <a href="{% url 'projects:projects' %}" class="active">
                            <span class="{% if request.resolver_match.url_name == 'projects' %}active{% endif %}">Проекты</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'partners:partners_list' %}" class="active">
                            <span class="{% if request.resolver_match.url_name == 'partners_list' %}active{% endif %}">Партнеры</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'research:research' %}">
                            <span class="{% if request.resolver_match.url_name == 'research' %}active{% endif %}">Наука</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'ymapapp:map' %}">
                            <span class="{% if request.resolver_match.url_name == 'map' %}active{% endif %}">Карта</span>
                        </a>
                    </li>
                </ul>
            </nav><!-- /#main-nav -->

            <div id="header-search">
                <a class="header-search-icon" href="#"><span class="fa fa-search"></span></a>

                <form role="search" method="get" class="header-search-form"
                      action="{% url 'partners:company_search' %}">
                    <label>
                        <input type="text" value="" name="q" class="header-search-field"
                               placeholder="Поиск...">
                    </label>
                    <button type="submit" class="header-search-submit" title="Search">Search</button>
                    <input type="hidden" name="post_type" value="post">
                </form>
            </div><!-- /#header-search -->

            <div class="nav-top-cart-wrapper">
                <a class="nav-cart-trigger" href="#">
                    <span class="fa fa-user cart-icon"></span>
                </a>
                <div class="nav-shop-cart">
                    <div class="widget_shopping_cart_content">
                        <p class="buttons">
                            <a href="{% url 'restricted_area' %}" class="wprt-button small">Личный Кабинет</a>
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'logout' %}" class="wprt-button small checkout">Выйти</a>
                            {% else %}
                                <a href="{% url 'login' %}" class="wprt-button small checkout">Войти</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div><!-- /.nav-top-cart-wrapper -->
        </div>
    </div><!-- /#site-header-inner -->
</header><!-- /#site-header -->
