{% extends 'mainapp/base.html' %}
{% load static %}
{% block content-container %}

<!-- Hero Background SlideShow -->
<div id="hero-section" data-number="3" data-image-1="{% static 'assets/img/slider/DJI_0107.JFIF' %}"
     data-image-2="{% static 'assets/img/slider/DJI_0262.JFIF' %}" data-image-3="{% static 'assets/img/slider/DJI_0210.JFIF' %}"
     data-effect="fade">
    <div class="hero-content">
        <div class="hero-title scroll" data-min="25px" data-max="60px">
            <h1>ТЕХНОЛОГИИ</h1>
            <h1>ДОРОЖНОГО</h1>
            <h1>СТРОИТЕЛЬСТВА</h1>
        </div>

        <div class="hero-text">
            <p>Лучшие технологии от отечественных и зарубежных производителей на карте страны</p>
        </div>

        <div class="hero-button">
            <a class="wprt-button large confirm-button" href="{% url 'ymapapp:map' %}">ПОДРОБНЕЕ</a>
        </div>
    </div><!-- /.hero-content -->

    <a class="arrow scroll-target" href="#services-section"></a>
    <!-- change href value to ID of section you want to scroll down -->
</div>

<!-- Main Content -->
<div id="main-content" class="site-main clearfix" style="margin-bottom: -50px;">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">

                    <!-- Promotion -->
                    <section class="wprt-section promotion">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="wprt-spacer" data-desktop="8" data-mobi="8"
                                         data-smobi="8"></div>
                                    <h2 class="text-white text-center-mobile font-size-20 margin-bottom-0">
                                        Гидроизоляция и защита строительных конструкций с 1993</h2>
                                    <div class="wprt-spacer" data-desktop="0" data-mobi="20"
                                         data-smobi="20"></div>
                                </div><!-- /.col-md-8 -->

                                <div class="col-md-4">
                                    <div class="text-right text-center-mobile"><a href="#"
                                                                                  class="wprt-button white">
                                        ПОДРОБНО
                                    </a></div>
                                    <div class="wprt-spacer" data-desktop="0" data-mobi="15"
                                         data-smobi="15"></div>
                                </div><!-- /.col-md-4 -->

                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </section>

                    <!-- ОСНОВНАЯ ДЕЯТЕЛЬНОСТЬ -->

                    <section id="services-section" class="wprt-section services">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="70" data-mobi="60"
                                         data-smobi="60"></div>
                                    <h2 class="text-center margin-bottom-10">ОСНОВНАЯ ДЕЯТЕЛЬНОСТЬ</h2>
                                    <div class="wprt-lines style-2 custom-1">
                                        <div class="line-1"></div>
                                    </div>
                                    <div class="wprt-spacer" data-desktop="50" data-mobi="40"
                                         data-smobi="40"></div>
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-4">
                                    <div class="wprt-icon-box accent-background rounded icon-effect-2 icon-left">
                                        <div class="icon-wrap">
                                            <span class="dd-icon icon-drawing"></span>
                                        </div>
                                        <div class="content-wrap">
                                            <h3 class="dd-title font-size-18"><a href="#">Внедрение технологий</a></h3>
                                            <p>Мы неустанно занимаемся развитием и популяризацией инновационных технологий
                                                гидроизоляции в России.</p>
                                        </div>
                                    </div>

                                    <div class="wprt-spacer" data-desktop="50" data-mobi="30"
                                         data-smobi="30"></div>

                                    <div class="wprt-icon-box accent-background rounded icon-effect-2 icon-left">
                                        <div class="icon-wrap">
                                            <span class="dd-icon icon-engineer"></span>
                                        </div>
                                        <div class="content-wrap">
                                            <h3 class="dd-title font-size-18"><a href="#">Техническая поддержка</a></h3>
                                            <p>Даже самые удаленные объекты, лично курируются нашими технологами.
                                                Каждый подрядчик проходит обучение.</p>
                                        </div>
                                    </div>

                                    <div class="wprt-spacer" data-desktop="0" data-mobi="30"
                                         data-smobi="30"></div>
                                </div><!-- /.col-md-4 -->

                                <div class="col-md-4">
                                    <div class="wprt-icon-box accent-background rounded icon-effect-2 icon-left">
                                        <div class="icon-wrap">
                                            <span class="dd-icon icon-drawing-compass"></span>
                                        </div>
                                        <div class="content-wrap">
                                            <h3 class="dd-title font-size-18"><a href="#">Разработка конструкций</a></h3>
                                            <p>Ежедневно разрабатываем системы гидроизоляции
                                                для гидротехнических, подземных и транспортных сооружений.</p>
                                        </div>
                                    </div>

                                    <div class="wprt-spacer" data-desktop="50" data-mobi="30"
                                         data-smobi="30"></div>

                                    <div class="wprt-icon-box accent-background rounded icon-effect-2 icon-left">
                                        <div class="icon-wrap">
                                            <span class="dd-icon icon-drill-2"></span>
                                        </div>
                                        <div class="content-wrap">
                                            <h3 class="dd-title font-size-18"><a href="#">Обучение
                                                подрядчиков</a></h3>
                                            <p>Vestibulum eu libero volutpat, portas quam, tempus sem. Donec
                                                sodales quam id lorem lobortis, vitae interdum nisl.</p>
                                        </div>
                                    </div>

                                    <div class="wprt-spacer" data-desktop="0" data-mobi="30"
                                         data-smobi="30"></div>
                                </div><!-- /.col-md-4 -->

                                <div class="col-md-4">
                                    <div class="wprt-icon-box accent-background rounded icon-effect-2 icon-left">
                                        <div class="icon-wrap">
                                            <span class="dd-icon icon-light-bulb"></span>
                                        </div>
                                        <div class="content-wrap">
                                            <h3 class="dd-title font-size-18"><a href="#">Исследовательские работы</a>
                                            </h3>
                                            <p>Мы уделяем много времени научным экспериментам
                                                перспективных разработок в различных отраслях строительства.</p>
                                        </div>
                                    </div>

                                    <div class="wprt-spacer" data-desktop="50" data-mobi="30"
                                         data-smobi="30"></div>

                                    <div class="wprt-icon-box accent-background rounded icon-effect-2 icon-left">
                                        <div class="icon-wrap">
                                            <span class="dd-icon icon-pipe-11"></span>
                                        </div>
                                        <div class="content-wrap">
                                            <h3 class="dd-title font-size-18"><a href="#">Аренда оборудования</a>
                                            </h3>
                                            <p>Vestibulum eu libero volutpat, portas quam, tempus sem. Donec
                                                sodales quam id lorem lobortis, vitae interdum nisl.</p>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-4 -->

                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="70" data-mobi="60"
                                         data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </section>

                    <!--------------------------------------- ПРОЕКТЫ ------------------------------------------->
                    <section class="wprt-section works parallax">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="70" data-mobi="60"
                                         data-smobi="60"></div>
                                    <h2 class="text-left text-white">ПОСЛЕДНИЕ ОБЪЕКТЫ</h2>
                                    <div class="wprt-lines custom-2">
                                        <div class="line-1"></div>
                                    </div>
                                    <div class="wprt-spacer" data-desktop="50" data-mobi="40"
                                         data-smobi="40"></div>
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-12">
                                    <div class="wprt-project arrow-style-2 has-arrows arrow60 arrow-dark"
                                         data-layout="slider" data-column="3" data-column2="3" data-column3="2"
                                         data-column4="1" data-gaph="30" data-gapv="30">
                                        <div id="projects" class="cbp">

                                        {% for item in latest_projects %}
                                            <div class="cbp-item architecture interior workspace">
                                                <div class="project-item">
                                                    <div class="inner">
                                                        <div class="grid">
                                                            <figure class="effect-honey">
                                                                <a href="{% url 'projects:project' item.pk %}">
                                                                    <img src="/media/{{ item.image | default:"projects_images/avatars/no_avatar.jpg" }}"
                                                                         alt="{{ item.name }}">
                                                                </a>
                                                                <figcaption>
                                                                    <div>
                                                                        <h2><a target="_blank"
                                                                               href="{% url 'projects:project' item.pk %}">{{ item.name }}</a>
                                                                        </h2>
                                                                    </div>
                                                                </figcaption>
                                                            </figure>
                                                        </div>

                                                        <a class="project-zoom cbp-lightbox"
                                                           href="{% url 'projects:project' item.pk %}"
                                                           data-title="LUXURY BUILDINGS">
                                                            {#                                                            <i class="fa fa-arrows-alt"></i>#}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><!--/.cbp-item -->
                                        {% endfor %}
                                        </div><!-- /#projects -->
                                    </div><!--/.wprt-project -->
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60"
                                         data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </section>

                    <!--------------------------------------- ПРОДУКТЫ ------------------------------------------->
                    <section class="wprt-section offer">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="70" data-mobi="60"
                                         data-smobi="60"></div>
                                    <h2>НАШИ ТЕХНОЛОГИИ</h2>
                                    <div class="wprt-lines style-1 custom-5">
                                        <div class="line-1"></div>
                                        <div class="line-2"></div>
                                    </div>
                                    <div class="wprt-spacer" data-desktop="50" data-mobi="40"
                                         data-smobi="40"></div>
                                </div><!-- /.col-md-12 -->
                                <div class="col-md-12">
                                    <div class="wprt-service arrow-style-2 has-arrows arrow60 arrow-light"
                                         data-layout="slider" data-column="3" data-column2="3" data-column3="2"
                                         data-column4="1" data-gaph="30" data-gapv="30">
                                        <div id="service-wrap" class="cbp">
                                            {% for item in products %}
                                            <div class="cbp-item">
                                                <div class="service-item clearfix">
                                                    <div class="thumb">
                                                        <a href="{% url 'products:product' item.slug %}"><img
                                                                src='/media/{{ item.image | default:"products_images/default.jpg" }}'
                                                                alt="image"/></a></div>
                                                    <div class="service-item-wrap">
                                                        <i><h6 class="title font-size-15"><a
                                                                href="{% url 'products:product' item.slug %}">{{ item.name }}</a>
                                                        </h6></i>
                                                        <p class="desc">{{ item.short_desc | truncatechars:100 }}</p>
                                                        <a href="{% url 'products:product' item.slug %}"
                                                           class="wprt-button small">ПОДРОБНО</a>
                                                    </div>
                                                </div>
                                            </div><!-- /.cbp-item -->
                                            {% endfor %}
                                        </div><!-- /#service-wrap -->
                                    </div><!-- /.wprt-service -->
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60"
                                         data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </section>

                    <!--------------------------------------- ФАКТЫ ------------------------------------------->
                    <section class="wprt-section facts parallax">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-8">
                                    <div class="wprt-spacer" data-desktop="120" data-mobi="80"
                                         data-smobi="60"></div>
                                    <h2 class="text-right text-center-mobile text-white font-family-heading font-size-20 margin-bottom-0 line-height-normal letter-spacing-1px">
                                        Инжиниринговая корпорация</h2>
                                    <h3 class="text-right text-center-mobile text-white font-family-heading font-size-55 line-height-normal margin-bottom-20 letter-spacing-1px">
                                        <strong>ТемпСтройСистема</strong></h3>
                                </div><!-- /.col-md-8 -->
                                <div class="col-md-6">
                                </div><!-- /.col-md-6 -->
                                <div class="col-md-2">
                                    <div class="wprt-counter text-center white-type has-plus">
                                        <div class="number" data-speed="5000" data-to="13691"
                                             data-in-viewport="yes">13691
                                        </div>
                                        <div class="text">ПРОЕКТОВ ВЫПОЛНЕНО</div>
                                    </div>
                                    <div class="wprt-spacer" data-desktop="0" data-mobi="25"
                                         data-smobi="25"></div>
                                </div><!-- /.col-md-2 -->
                                <div class="col-md-2">
                                    <div class="wprt-counter text-center white-type has-plus">
                                        <div class="number" data-speed="5000" data-to="1725"
                                             data-in-viewport="yes">1725
                                        </div>
                                        <div class="text">ЛОЯЛЬНЫХ КЛИЕНТОВ</div>
                                    </div>
                                    <div class="wprt-spacer" data-desktop="0" data-mobi="25"
                                         data-smobi="25"></div>
                                </div><!-- /.col-md-2 -->
                                <div class="col-md-2">
                                    <div class="wprt-counter text-center white-type has-plus">
                                        <div class="number" data-speed="5000" data-to="984"
                                             data-in-viewport="yes">984
                                        </div>
                                        <div class="text">ШТАТ СОТРУДНИКОВ</div>
                                    </div>
                                </div><!-- /.col-md-2 -->
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="130" data-mobi="80"
                                         data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </section>
                </div><!-- /.page-content -->
            </div>
        </div>
    </div>
</div>
{% endblock %}