{% load static %}
<div id="bottom" class="clearfix style-1">
    <div id="bottom-bar-inner" class="wprt-container">
        <div class="bottom-bar-inner-wrap">

            <div class="bottom-bar-content">
                <div id="copyright">ENGINEERING PROJECT &copy; DEVELOPED BY
                    <a target="_blank" href="https://github.com/Djoongaar/bridges">
                        Djoongaar
                    </a>,
                    <a target="_blank" href="https://github.com/dorican">
                        Dorican
                    </a>,
                    <a target="_blank" href="https://github.com/Toptimum">
                        Toptimum
                    </a>,
                    <a target="_blank" href="https://github.com/ghost211221">
                        Ghost211221
                    </a>,
                    <a target="_blank" href="https://github.com/SergeiChaban">
                        SergeiChaban
                    </a>.
                </div><!-- /#copyright -->
            </div><!-- /.bottom-bar-content -->

            <div class="bottom-bar-menu">
                <ul class="bottom-nav">
                    <li><a href="https://github.com/Djoongaar/bridges">github.com/Djoongaar/bridges</a></li>
                </ul>
            </div><!-- /.bottom-bar-menu -->
        </div>
    </div>
</div>