{% load static %}
<footer id="footer">
    <div id="footer-widgets" class="container style-1">
        <div class="row">
            <div class="col-md-4">
                <div class="widget widget_text">
                    <h2 class="widget-title"><span>О КОМПАНИИ</span></h2>
                    <div class="textwidget">
                        <img src="{% static 'assets/img/channels4_banner.jpg' %}" width="200" height="30"
                             alt="image" class="margin-top-5 margin-bottom-25"/>
                        <p>Building isn’t just a job. At the Construction Company, it is our passion. With
                            every project we undertake, we set the bar high and provide the best people in the
                            industry.</p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="widget widget_links">
                    <h2 class="widget-title"><span>ПРОДУКТЫ И ЦЕННОСТИ</span></h2>
                    <ul class="wprt-links clearfix col2">
                        <li class="style-2"><a href="{% url 'products:products' %}">Технологии</a></li>
                        <li class="style-2"><a href="{% url 'services:services_list' %}">Услуги</a></li>
                        <li class="style-2"><a href="{% url 'projects:projects' %}">Проекты</a></li>
                        <li class="style-2"><a href="#">Развитие регионов</a></li>
                        <li class="style-2"><a href="{% url 'research:research' %}">Наука</a></li>
                        <li class="style-2"><a href="#">Благотворительность</a></li>
                        <li class="style-2"><a href="#">Новости</a></li>
                        <li class="style-2"><a href="{% url 'contact:index' %}">Контакты</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="widget widget_information">
                    <h2 class="widget-title"><span>КОНТАКТЫ</span></h2>
                    <ul class="style-2">
                        <li class="address clearfix">
                            <span class="hl">Адрес:</span>
                            <span class="text">119234 Москва, Университетский проспект, 5</span>
                        </li>
                        <li class="phone clearfix">
                            <span class="hl">Телефон:</span>
                            <a href="tel:+7 495 727-06-37"><span class="text">+7 495 727-06-37</span></a>
                        </li>
                        <li class="email clearfix">
                            <span class="hl">E-mail:</span>
                            <a href="mailto:bridges@tempstroy.ru"><span class="text">bridges@tempstroy.ru</span></a>
                        </li>
                    </ul>
                </div>

{#                <div class="widget widget_spacer">#}
{#                    <div class="wprt-spacer clearfix" data-desktop="10" data-mobi="10"#}
{#                         data-smobi="10"></div>#}
{#                </div>#}

{#                <div class="widget widget_socials">#}
{#                    <div class="socials">#}
{#                        <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>#}
{#                        <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>#}
{#                        <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>#}
{#                        <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>#}
{#                        <a target="_blank" href="#"><i class="fa fa-dribbble"></i></a>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
</footer>