{% load static %}
<div id="top-bar" class="style-2">
    <div id="top-bar-inner" class="container">
        <div class="top-bar-inner-wrap">

            <div class="top-bar-socials">
                <div class="inner">
                        <span class="icons">
{#                            <a href="#" title="Twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>#}
{#                            <a href="#" title="Facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>#}
{#                            <a href="#" title="Google Plus"><span class="fa fa-google-plus"#}
{#                                                                  aria-hidden="true"></span></a>#}
{#                            <a href="#" title="Pinterest"><span class="fa fa-pinterest" aria-hidden="true"></span></a>#}
{#                            <a href="#" title="Dribbble"><span class="fa fa-dribbble" aria-hidden="true"></span></a>#}
                        </span>
                </div>
            </div><!-- /.top-bar-socials -->

            <div class="top-bar-content">
                    <span id="top-bar-text">
                        <i class="fa fa-phone-square"></i><a href="tel:+7 495 727-06-37">+7 495 727-06-37</a>
                        <i class="fa fa-envelope"></i><a href="mailto:bridges@tempstroy.ru">bridges@tempstroy.ru</a>
                        <i class="fa fa-clock-o"></i>Пн-Пт: 10:00 - 19:00
                    </span><!-- /#top-bar-text -->
            </div><!-- /.top-bar-content -->
        </div>
    </div>
</div>