{% load static %}
<div id="bottom" class="clearfix style-1">
    <div id="bottom-bar-inner" class="wprt-container">
        <div class="bottom-bar-inner-wrap">

            <div class="bottom-bar-content">
                <div id="copyright">CONSTRUCTION TEMPLATE &copy; DESIGN BY BLOGWP.
                </div><!-- /#copyright -->
            </div><!-- /.bottom-bar-content -->

            <div class="bottom-bar-menu">
                <ul class="bottom-nav">
                    <li><a href="#/">HISTORY</a></li>
                    <li><a href="#/">FAQ</a></li>
                    <li><a href="#/">EVENTS</a></li>
                </ul>
            </div><!-- /.bottom-bar-menu -->
        </div>
    </div>
</div>