{% extends 'productsapp/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content-container %}
    <!-- Main Content -->
    <div id="main-content" class="site-main clearfix">
        <div id="content-wrap">
            <div id="site-content" class="site-content clearfix">
                <div id="inner-content" class="inner-content-wrap">
                    <div class="page-content">
                        <section class="wprt-section">
                            <div class="container">
                                <div class="row">
                                    <!--div class="col-md-8"-->
                                    <div style="width: 100%; margin: 100px auto; text-align: center;">
                                        {% block content %}
                                        <p>Если вы видите это предложение, значит что-то пошло не так.</p>
                                        {% endblock %}
                                    </div>
                                    <!-- /.col-md-8 -->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}