{% extends 'productsapp/base.html' %}
{% load static %}
{% block content-container %}
    <!-- Featured Title -->
    <div id="featured-title" class="clearfix featured-title-left">
        <div id="featured-title-inner" class="container clearfix">
            <div class="featured-title-inner-wrap">
                <div class="featured-title-heading-wrap">
                    <h1 class="featured-title-heading">Авторизация на сайте</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <div id="main-content" class="site-main clearfix">
        <div id="content-wrap">
            <div id="site-content" class="site-content clearfix">
                <div id="inner-content" class="inner-content-wrap">
                    <div class="page-content">
                        <section class="wprt-section">
                            <div class="container">
                                <div class="row">
                                    <!--div class="col-md-8"-->
                                    <div style="width: 100%; margin: 100px auto; text-align: center;">
                                        {% if user.is_authenticated %}
                                            <h4 class="margin-bottom-15" style="text-align: center;">Вы уже авторизованы</h4>
                                            <br>
                                            <p>Можете посещать закрытые разделы сайта,<br>доступные зарегистрированным пользователям.</p>
                                            <p>Либо вы можете <a href="{% url 'auth:logout' %}">выйти</a>.</p>
                                        {% else %}
                                            {% include 'authapp/login_form.html' %}
                                        {% endif %}
                                    </div><!-- /.col-md-8 -->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}