{% extends 'authapp/base_auth.html' %}

{% block content %}
{{ error }}
    {% if user.is_authenticated %}
        <h4 class="margin-bottom-15" style="text-align: center;">Вы авторизованы на сайте</h4>
        <br>
        <p>Можете посещать закрытые разделы сайта,<br>доступные зарегистрированным пользователям.</p>
        <br>
        <p>Можете посмотреть <a href="{% url 'auth:profile' user.pk %}">ваш профиль</a>.</p>
        <p>Либо можете <a href="{% url 'auth:logout' %}">выйти</a>.</p>
    {% else %}
        <h4 class="margin-bottom-15">Войти на сайт</h4>
        {{ form.errors }}
        <form method="POST" action="{% url 'auth:login' %}">
            {% csrf_token %}
            <div class="wprt-contact-form-1">
                <span class="wpcf7-form-control-wrap name">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </span>
                <span class="wpcf7-form-control-wrap email">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </span>
                <input type="submit" value="Войти">
                <input type="hidden" name="next" value="{% url 'auth:login' %}">
            </div>
        </form>
        <br>
        <p>Либо можете <a href="{% url 'auth:register' %}">зарегистрироваться</a>.</p>
    {% endif %}
{% endblock %}