{% extends 'authapp/base_auth.html' %}
{% block content-container %}
    <!-- Main Content -->
    <div id="main-content" class="site-main clearfix">
        <div id="content-wrap">
            <div id="site-content" class="site-content clearfix">
                <div id="inner-content" class="inner-content-wrap">
                    <div class="page-content">
                        <section class="wprt-section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <!--div class="col-md-8"-->
                                        <div class="wprt-spacer" data-desktop="40" data-mobi="20" data-smobi="20"></div>
                                        {% if user.is_authenticated and user.is_active %}
                                            <h3 class="margin-bottom-15">Профиль
                                                пользователя {{ user.username|title }}</h3>
                                            <br>
                                            <div class="col-md-12">
                                                <table class="width_table">
                                                    <tr>
                                                        <td><p class="n_text">Ваше имя:</p></td>
                                                        <td><p class="n_text">
                                                            <strong>{{ user.first_name|title }}</strong></p></td>
                                                    </tr>
                                                    <tr>
                                                        <td><p class="n_text">Фамилия:</p></td>
                                                        <td><p class="n_text">
                                                            <strong>{{ user.last_name|title }}</strong></p></td>
                                                    </tr>
                                                    <tr>
                                                        <td><p class="n_text">Отчество:</p></td>
                                                        <td><p class="n_text"><strong>{% if user.patronymic %}
                                                            {{ user.patronymic|title }}{% endif %}</strong></p></td>
                                                    </tr>
                                                    <tr>
                                                        <td><p class="n_text">Пол:</p></td>
                                                        <td><p class="n_text">
                                                            <strong>{{ user.get_gender_display }}</strong></p></td>
                                                    </tr>
                                                    <tr>
                                                        <td><p class="n_text">День рождения:</p></td>
                                                        <td><p class="n_text">
                                                            <strong>{{ user.birthday|date:"d.m.Y" }}</strong></p></td>
                                                    </tr>
                                                    <tr>
                                                        <td><p class="n_text">Телефон:</p></td>
                                                        <td><p class="n_text"><strong>{{ user.phone }}</strong></p></td>
                                                    </tr>
                                                    <tr>
                                                        <td><p class="n_text">Эл. почта:</p></td>
                                                        <td><p class="n_text"><strong>{{ user.email }}</strong></p></td>
                                                    </tr>
                                                    <tr>
                                                        <td><p class="n_text">Город:</p></td>
                                                        <td><p class="n_text"><strong>{{ user.city|title }}</strong></p>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <h4 class="margin-bottom-15">Проекты пользователя</h4>
                                                {% for item in user_projects %}
                                                    <ul class="wprt-list style-2 accent-color margin-bottom-25">
                                                        <li><a href="#"> {{ item.project }}</a></li>
                                                    </ul>
                                                {% endfor %}
                                                <a href="#">добавить в проект</a>
                                            </div>
                                            <div class="wprt-spacer" data-desktop="20" data-mobi="20"
                                                 data-smobi="20"></div>
                                            <p class="n_text">Можете <a href="{% url 'auth:logout' %}">выйти с сайта</a>.
                                            </p>
                                        {% else %}
                                            <h4 class="margin-bottom-15" style="text-align: center;">Вы не
                                                авторизованы,<br>либо аккаунт не активирован</h4>
                                            <br>
                                            <p>Если вы хотите посмотреть информацию вашего профиля,<br>
                                                необходимо <a href="{% url 'auth:login' %}">авторизоваться на
                                                    сайте</a>,<br>
                                                либо дождаться активации аккаунта нашим менеджером.</p>
                                        {% endif %}
                                    </div>
                                    <!-- /.col-md-8 -->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}