{% extends 'productsapp/base.html' %}
{% block content-container %}
    <!-- Main Content -->
    <div id="main-content" class="site-main clearfix">
        <div id="content-wrap">
            <div id="site-content" class="site-content clearfix">
                <div id="inner-content" class="inner-content-wrap">
                    <div class="page-content">
                        <section class="wprt-section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!--div class="col-md-12"-->
                                        <div class="wprt-spacer" data-desktop="40" data-mobi="20" data-smobi="20"></div>
                                        <div class="col-md-4">
                                            <table>
                                                <tr>
                                                    <td><p class="n_text margin-bottom-0">Ваше имя:</p></td>
                                                    <td><p class="n_text margin-bottom-0">
                                                        <strong>{{ user.first_name|title }}</strong></p></td>
                                                </tr>
                                                <tr>
                                                    <td><p class="n_text margin-bottom-0">Отчество:</p></td>
                                                    <td><p class="n_text margin-bottom-0">
                                                        <strong>{% if user.patronymic %}
                                                            {{ user.patronymic|title }}{% endif %}</strong></p></td>
                                                </tr>
                                                <tr>
                                                    <td><p class="n_text margin-bottom-0">Фамилия:</p></td>
                                                    <td><p class="n_text margin-bottom-0"><strong>
                                                        {{ user.last_name|title }}</strong></p></td>
                                                </tr>
                                                <tr>
                                                    <td><p class="n_text margin-bottom-0">Пол:</p></td>
                                                    <td><p class="n_text margin-bottom-0">
                                                        <strong>{{ user.get_gender_display }}</strong></p></td>
                                                </tr>
                                                <tr>
                                                    <td><p class="n_text margin-bottom-0">День рождения:</p></td>
                                                    <td><p class="n_text margin-bottom-0">
                                                        <strong>{{ user.birthday|date:"d.m.Y" }}</strong></p></td>
                                                </tr>
                                                <tr>
                                                    <td><p class="n_text margin-bottom-0">Телефон:</p></td>
                                                    <td><p class="n_text margin-bottom-0">
                                                        <strong><a
                                                                href="tel:{{ user.phone }}">{{ user.phone }}</a></strong>
                                                    </p></td>
                                                </tr>
                                                <tr>
                                                    <td><p class="n_text margin-bottom-0">Эл. почта:</p></td>
                                                    <td><p class="n_text margin-bottom-0">
                                                        <strong>{{ user.email }}</strong></p></td>
                                                </tr>
                                                <tr>
                                                    <td><p class="n_text margin-bottom-0">Активный:</p></td>
                                                    <td><p class="n_text margin-bottom-0">
                                                        <strong>{% if user.is_active %} Да {% else %}
                                                            Забанен {% endif %}</strong></p></td>
                                                </tr>
                                            </table>
                                            <p><a href="{% url 'profile_self_user_update' user.pk %}">редактировать</a>
                                            </p>
                                            <p><a href="{% url 'password_change' %}">сменить пароль</a></p>
                                        </div>
                                        <div class="col-md-4">
                                            <h4 class="margin-bottom-15">Мои заказы</h4>
                                            {% if user_orders %}
                                                {% for item in user_orders %}
                                                    <ul class="wprt-list style-2 accent-color margin-bottom-25">
                                                        <li><p class="n_text"><a
                                                                href="#">Заказ: № {{ item.order_number }}</a></p>
                                                        </li>
                                                    </ul>
                                                {% endfor %}
                                            {% else %}
                                                <p class="n_text">Нет ни одного заказа</p>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-4">
                                            <h4 class="margin-bottom-15">Мои проекты</h4>
                                            {% if user_projects %}
                                                {% for item in user_projects %}
                                                    <ul class="wprt-list style-2 accent-color margin-bottom-25">
                                                        <li><a href="{{ item.project.get_absolute_url }}"
                                                               class="n_text"> {{ item.project }}</a></li>
                                                    </ul>
                                                {% endfor %}
                                            {% else %}
                                                <p class="n_text">Нет ни одного проекта</p>
                                            {% endif %}
{#                                            <p><a href="{% url 'project_self_user_update' user.pk %}">редактировать</a></p>#}
                                            <p><a href="{% url 'projects:project_create' %}">+ новый проект</a></p>
                                        </div>
                                    </div>
                                    <!-- /.col-md-12 -->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}