{% extends 'productsapp/base.html' %}
{% block content-container %}
    <!-- Main Content -->
    <div id="main-content" class="site-main clearfix">
        <div id="content-wrap">
            <div id="site-content" class="site-content clearfix">
                <div id="inner-content" class="inner-content-wrap">
                    <div class="page-content">
                        <section class="wprt-section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <!--div class="col-md-8"-->
                                        <div class="wprt-spacer" data-desktop="40" data-mobi="20" data-smobi="20"></div>

                                        <form action="" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            {{ formset.as_p }}
                                            <button type="submit" value="сохранить" class="wprt-button icon-flash confirm-button">
                                                СОХРАНИТЬ
                                            </button>
                                            <a href="{{form_user.get_absolute_url}}" class="wprt-button small cancel-button">
                                                ВЕРНУТЬСЯ
                                            </a>
                                        </form>
                                        <div class="wprt-spacer" data-desktop="20" data-mobi="20"
                                             data-smobi="20"></div>
                                    </div>
                                    <!-- /.col-md-8 -->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}