{% extends 'productsapp/base.html' %}
{% load static %}
{% block content-container %}

<!-- Main Content -->
<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">
                    <section class="wprt-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
<!--КРАТКОЕ ОПИСАНИЕ-->
                                <div class="col-md-8">
                                    <div>
                                        <h3 class="line-height-normal margin-bottom-10">КРАТКОЕ ОПИСАНИЕ</h3>
                                        <a href="{% url 'products:product_update' product.slug %}">редактировать</a>
                                        <div class="wprt-lines style-1 custom-3">
                                            <div class="line-1"></div>
                                            <div class="line-2"></div>
                                        </div>

                                        <div class="wprt-spacer" data-desktop="30" data-mobi="25" data-smobi="25"></div>

                                        <p>{{ product.short_desc }}</p>
                                        <p>{{ product.description }}</p>
                                    </div>
                                </div><!-- /.col-md-8 -->
<!--ДОСТУПНЫЕ СЕРВИСЫ ПО ПРОДУКТУ-->
                                <div class="col-md-4">
                                    <div class="wprt-spacer" data-desktop="0" data-mobi="20" data-smobi="20"></div>

                                    <h3 class="line-height-normal margin-bottom-10">ДОСТУПНЫЕ СЕРВИСЫ</h3>
                                    <div class="wprt-lines style-1 custom-3">
                                        <div class="line-1"></div>
                                        <div class="line-2"></div>
                                    </div>

                                    <div class="wprt-spacer" data-desktop="30" data-mobi="25" data-smobi="25"></div>

                                    <ul class="wprt-list style-2 accent-color margin-bottom-25">
                                        <li><strong>Заказчик:</strong> ThemeForest Builder</li>
                                        <li><strong>Проектировщик:</strong> Richardson and Sandra</li>
                                        <li><strong>подрядчик:</strong> GraphicRiver Builder Corporate</li>
                                        <li><strong>Бюджет:</strong> $1 250 000,00</li>
                                    </ul>

                                    <a href="#" class="wprt-button small rounded-3px">LIVE PREVIEW</a>
                                </div><!-- /.col-md-4 -->
<!--СОСТАВ РАБОТ И МАТЕРИАЛОВ-->
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="30" data-mobi="60" data-smobi="60"></div>
                                    <div>
                                        <h3 class="line-height-normal margin-bottom-10">СОСТАВ РАБОТ И МАТЕРИАЛОВ</h3>
                                        <div class="wprt-lines style-1 custom-3">
                                            <div class="line-1"></div>
                                            <div class="line-2"></div>
                                        </div>

                                        <div class="wprt-spacer" data-desktop="30" data-mobi="25" data-smobi="25"></div>

                                        <p>Vestibulum eu libero volutpat, portas quam acc, tempus sem. Donec sodales
                                            quam id lorem lobortis, vitae. Pellentesque habitant morbi tristique
                                            senectus et netus et malesuada fames ac turpis egestas. Integer blandit
                                            nulla quis fermentum hendrerit.</p>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="wprt-toggle active style-1">
                                            <h3 class="toggle-title">Состав работ и материалов</h3>
                                            <div class="toggle-content" style="font-family: 'Times New Roman'; font-size: larger;
                                            color: #4d4949;">
                                                <table>
                                                    <tr>
                                                        <td style="text-align: center; font-weight: bold; width: 50%">Наименование работ</td>
                                                        <td style="text-align: center; font-weight: bold;">Материалы</td>
                                                        <td style="text-align: center; font-weight: bold; width: 10%">Расход</td>
                                                        <td style="text-align: center; font-weight: bold; width: 10%">Ед. изм.</td>
                                                    </tr>
                                                    {% for item in works %}
                                                        <tr>
                                                            <td>{{ item.work.name }}</td>
                                                            <td style="text-align: right;"><i>
                                                                {% for i in item.material.all %}
                                                                    {{ i.name }}
                                                                    {% if not forloop.last %}, {% endif %}
                                                                {% endfor %}
                                                            </i></td>
                                                            <td style="text-align: center;">{% if item.consumption %}{{ item.consumption }}{% endif %}</td>
                                                            <td style="text-align: center;">
                                                                {% if item.material.all %}
                                                                    {{ item.work.measure.shortcut }}
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
{#                                                <a class="" href="{% url 'projects:product_update' object.pk %}">... изменить</a>#}
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="wprt-spacer" data-desktop="70" data-mobi="60"
                                                 data-smobi="60"></div>
                                        </div>
                                    </div><!-- /.row -->
                                </div><!-- /.col-md-12 -->
<!--СТАТЬЯ О ТЕХНИЧЕСКОМ РЕШЕНИИ- /ЖУРНАЛЫ И ТД/ PDF LOADER-->
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="30" data-mobi="60" data-smobi="60"></div>
                                    <div>
                                        <h3 class="line-height-normal margin-bottom-10">НАУЧНЫЕ ПУБЛИКАЦИИ</h3>
                                        <div class="wprt-lines style-1 custom-3">
                                            <div class="line-1"></div>
                                            <div class="line-2"></div>
                                        </div>

                                        <div class="wprt-spacer" data-desktop="30" data-mobi="25" data-smobi="25"></div>

                                        <p>{{ product.description }}</p>

                                        <p>Vestibulum eu libero volutpat, portas quam acc, tempus sem. Donec sodales
                                            quam id lorem lobortis, vitae. Pellentesque habitant morbi tristique
                                            senectus et netus et malesuada fames ac turpis egestas. Integer blandit
                                            nulla quis fermentum hendrerit.</p>
                                    </div>
                                </div><!-- /.col-md-8 -->
<!--ВЫПОЛНЕННЫЕ ПРОЕКТЫ-->
                            {% if projects %}
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="30" data-mobi="60" data-smobi="60"></div>
                                    <div>
                                        <h3 class="line-height-normal margin-bottom-10">ВЫПОЛНЕННЫЕ ПРОЕКТЫ</h3>
                                        <div class="wprt-lines style-1 custom-3">
                                            <div class="line-1"></div>
                                            <div class="line-2"></div>
                                        </div>
                                        <div class="wprt-spacer" data-desktop="30" data-mobi="25" data-smobi="25"></div>
                                    </div>
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-12">
                                    <div class="wprt-project has-bullets has-arrows bullet-style-2 arrow-position-2" data-layout="slider" data-column="4" data-column2="3" data-column3="2" data-column4="1" data-gaph="15" data-gapv="15">
                                        <div id="projects" class="cbp">
                                            {% for item in projects %}
                                            <div class="cbp-item">
                                                <div class="project-item">
                                                    <div class="inner">
                                                        <div class="grid">
                                                            <figure class="effect-honey"
                                                                    style="height: 250px;">
                                                                <a href="{% url 'projects:project' item.project.pk %}">
                                                                    <img src="{{ item.project.image.url }}" alt="">
                                                                </a>
                                                                <figcaption>
                                                                    <div>
                                                                        <h2>
                                                                            <a href="{% url 'projects:project' item.project.pk %}">{{ item.project.name }}</a>
                                                                        </h2>
                                                                    </div>
                                                                </figcaption>
                                                            </figure>
                                                        </div>
{#                                                        <a class="project-zoom cbp-lightbox" href="assets/img/projects/1-full.jpg" data-title="LUXURY BUILDINGS">#}
{#                                                            <i class="fa fa-arrows-alt"></i>#}
{#                                                        </a>#}
                                                    </div>
                                                </div>
                                            </div><!--/.cbp-item -->
                                            {% endfor %}
                                        </div><!-- /#projects -->
                                    </div><!--/.wprt-project -->
                                </div><!-- /.col-md-12 -->
                            {% endif %}

<!--ОТЗЫВЫ-->
                            {% if feedback %}
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="30" data-mobi="30" data-smobi="60"></div>
                                    <div>
                                        <h3 class="line-height-normal margin-bottom-10">ОТЗЫВЫ ЗАКАЗЧИКОВ И ПОДРЯДЧИКОВ</h3>
                                        <div class="wprt-lines style-1 custom-3">
                                            <div class="line-1"></div>
                                            <div class="line-2"></div>
                                        </div>
                                        <div class="wprt-spacer" data-desktop="30" data-mobi="25" data-smobi="25"></div>
                                    </div>
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-12">
                                    <div class="wprt-project has-bullets has-arrows bullet-style-2 arrow-position-2" data-layout="slider" data-column="4" data-column2="3" data-column3="2" data-column4="1" data-gaph="15" data-gapv="15">
                                        <div id="projects" class="cbp">
                                            {% for item in feedback %}
                                            <div class="cbp-item">
                                                <div class="project-item">
                                                    <div class="inner">
                                                        <div class="grid">
                                                            {% for i in item.file.all %}
                                                        <figure class="effect-sadie" style="height: 400px; margin-top: -58px; margin-left: -3px;">
                                                            <embed src="/media/{{ i.file }}" alt="image" width=300px; height=600px;" />
                                                            <figcaption>
                                                                <div>
                                                                    <h2><a target="_blank" href="/media/{{ i.file }}">{{ i.alt_desc }}</a></h2>
                                                                    <p></p>
                                                                </div>
                                                            </figcaption>
                                                        </figure>
                                                                {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!--/.cbp-item -->
                                            {% endfor %}
                                        </div><!-- /#projects -->
                                    </div><!--/.wprt-project -->
                                </div><!-- /.col-md-12 -->
                            {% endif %}

<!--ДОКУМЕНТАЦИЯ О ПРОДУКТЕ-->
                            {% if documents or researches %}
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="30" data-mobi="60" data-smobi="60"></div>
                                    <h2 class="line-height-normal margin-bottom-10">ИССЛЕДОВАНИЯ И ДОКУМЕНТАЦИЯ</h2>
                                    <div class="wprt-lines style-1 custom-3">
                                        <div class="line-1"></div>
                                        <div class="line-2"></div>
                                    </div>
                                    <div class="wprt-spacer" data-desktop="25" data-mobi="25" data-smobi="25"></div>
                                </div>

                                <div class="col-md-6 row">
                                    {% for item in researches %}
                                        <div class="wprt-toggle style-1">
                                            <h3 class="toggle-title">{{ item.name }}</h3>
                                            <div class="toggle-content" style="color: black;">
                                                {% for i in item.file.all %}
                                                    {{ item.description }}
                                                    <div class="wprt-spacer" data-desktop="10" data-mobi="10"
                                                         data-smobi="10"></div>
                                                    <a class="wprt-button small rounded-30px" href="/media/{{ i.file }}"
                                                       target="_blank">СКАЧАТЬ PDF</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-6 row">
                                    {% for item in documents %}
                                        <div class="wprt-toggle style-2">
                                            <h3 class="toggle-title">{{ item.name }}</h3>
                                            <div class="toggle-content" style="color: black;">
                                                {% for i in item.file.all %}
                                                    {{ item.description }}
                                                    <div class="wprt-spacer" data-desktop="10" data-mobi="10"
                                                         data-smobi="10"></div>
                                                    <a class="wprt-button small rounded-30px" href="/media/{{ i.file }}"
                                                       target="_blank">СКАЧАТЬ PDF</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div><!-- /.col-md-6 -->
                            {% endif %}
<!--/ ДОКУМЕНТАЦИЯ О ПРОДУКТЕ-->
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Main Content -->

{% endblock %}