{% extends 'productsapp/base.html' %}
{% load static %}
{% block content-container %}
    <!-- Main Content -->
    <div id="main-content" class="site-main clearfix">
        <div id="content-wrap">
            <div id="site-content" class="site-content clearfix">
                <div id="inner-content" class="inner-content-wrap">
                    <div class="page-content">
                        <section class="wprt-section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="wprt-spacer" data-desktop="30" data-mobi="60" data-smobi="60"></div>
                                    </div><!-- /.col-md-12 -->
                                    {% if all_products %}
                                        {% for item in all_products %}
                                            <div class="col-md-4">
                                                <div class="service-item clearfix">
                                                    <div class="thumb">
                                                        <a href="{% url 'products:product' item.slug %}"><img src='/media/{{ item.image | default:"products_images/default.jpg" }}' alt="image" /></a></div>
                                                    <div class="service-item-wrap">
                                                        <i><h6 class="title font-size-15"><a href="{% url 'products:product' item.slug %}">{{ item.name }}</a>
                                                        </h6></i>
                                                        <p class="desc">{{ item.short_desc | truncatechars:100 }}</p>
                                                        <a href="{% url 'products:product' item.slug %}"
                                                           class="wprt-button small">ПОДРОБНО</a>
                                                    </div>
                                                </div>
                                                <div class="wprt-spacer" data-desktop="30" data-mobi="40"
                                                     data-smobi="40"></div>
                                            </div><!-- /.col-md-4 -->
                                        {% endfor %}
                                    {% else %}
                                        <h3>На данный момент нет ни одного продукта</h3>
                                    {% endif %}
                                    <div class="col-md-12">
                                        <div class="wprt-spacer" data-desktop="25" data-mobi="60" data-smobi="60"></div>
                                    </div><!-- /.col-md-12 -->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}