{% extends 'productsapp/base.html' %}
{% load static %}
{% block content-container %}
<!-- Featured Title -->
<div id="featured-title" class="clearfix featured-title-left">
    <div id="featured-title-inner" class="container clearfix">
        <div class="featured-title-inner-wrap">
            <div class="featured-title-heading-wrap">
                <h1 class="featured-title-heading">Технические решения</h1>
            </div>
            <div id="breadcrumbs">
                <div class="breadcrumbs-inner">
                    <div class="breadcrumb-trail">
                        <a href="#" title="Construction" rel="home" class="trail-begin">Главная</a>
                        <span class="sep">/</span>
                        <span class="trail-end">Технические решения</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->
<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">
                    <section class="wprt-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                                {% for item in products %}
                                <div class="col-md-4">
                                    <div class="service-item clearfix">
                                        <div class="thumb" style="height: 250px; background-image: url(/media/{{ item.image }}); background-position: 50%;
                                background-size: cover; background-repeat: no-repeat">
<!--                                            <img src="/media/{{ item.image }}" alt="image"/>-->
                                        </div>
                                        <div class="service-item-wrap">
                                            <h3 class="title font-size-18"><a href="#">{{ item.name }}</a></h3>
                                            <p class="desc">{{ item.short_desc | truncatewords:6 }}</p>
                                            <a href="{% url 'products:product' item.pk %}" class="wprt-button small rounded-3px">ПОДРОБНО</a>
                                        </div>
                                    </div>
                                    <div class="wprt-spacer" data-desktop="55" data-mobi="40" data-smobi="40"></div>
                                </div><!-- /.col-md-4 -->
                                {% endfor %}

                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}