{% extends 'productsapp/base.html' %}
{% load static %}
{% block content-container %}
    <div style="height: 50px;"></div>
    <div class="container">

        <form action="" method="post">
            {% csrf_token %}
            {{ product_form.as_p }}
            {{ formset.as_p}}
            <button type="submit" value="сохранить" class="btn btn-success margin-bottom-15">
                сохранить
            </button>
        </form>


    <a href="{{ product.get_absolute_url }}" class="btn btn-info bnt_save">вернуться назад</a>
    </div>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'assets/js/orders_scripts.js' %}"></script>
    <script src="{% static 'assets/js/jquery.formset.js' %}"></script>
{% endblock %}









{#    <div style="height: 5000px; border: 1px solid black">#}
{#        <form action="{% url 'projects:company_update' %}" method="post" enctype="multipart/form-data">#}
{#            {% csrf_token %}#}
{#            {% for field in form %}#}
{#                <div class="form-group">#}
{#                    {% if field.errors %}#}
{#                        <div class="alert alert-danger">#}
{#                            {{ field.errors }}#}
{#                        </div>#}
{#                    {% endif %}#}
{#                    {{ field.label }}#}
{#                    {{ field }}#}
{#                </div>#}
{#            {% endfor %}#}
{#            <button type="submit" value="сохранить" class="btn btn-primary">сохранить</button>#}
{#        </form>#}
{#    </div>#}
