{% extends 'productsapp/base.html' %}
{% load static %}
{% block content-container %}
    <div style="height: 50px;"></div>
    <div class="container">
        <h2>Результаты запроса для: <strong>{{ query }}</strong></h2>

        {% if founded_products %}
            <h3>Найдено: {{ founded_products|length }}</h3>
            {% for item in founded_products %}
                <p class="search_link"><a href="{{ item.get_absolute_url }}">
                    {{ item.name }}</a></p>
            {% endfor %}
        {% else %}
            <h3>Результаты поиска: Ничего не найдено</h3>

        {% endif %}
    </div>
{% endblock %}