{% extends 'productsapp/base.html' %}
{% load static %}
{% block content-container %}
    <!-- Featured Title -->
    <div id="featured-title" class="clearfix featured-title-left">
        <div id="featured-title-inner" class="container clearfix">
            <div class="featured-title-inner-wrap">
                <div class="featured-title-heading-wrap">
                    <h1 class="featured-title-heading">News</h1>
                </div>
                <div id="breadcrumbs">
                    <div class="breadcrumbs-inner">
                        <div class="breadcrumb-trail">
                            <a href="#" title="Construction" rel="home" class="trail-begin">Home</a>
                            <span class="sep">/</span>
                            <span class="trail-end">News</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content -->
    <div id="main-content" class="site-main clearfix">
        <div id="content-wrap" class="container" style="display:flex;">
            <div id="site-content" class="site-content clearfix">
                <div id="inner-content" class="inner-content-wrap">
                    <div class="post-content-single-wrap">
                        <article class="hentry">
                            <div class="post-media clearfix">
                                <a href="#"><img src="/media/{{ object.image }}" alt="image"></a>
                            </div><!-- /.post-media -->

                            <h2 class="post-title">
                                <span class="post-title-inner">
                                    <a href="#">{{ object.name }}</a>
                                </span>
                            </h2><!-- /.post-title -->

                            <div class="post-meta style-2">
                                <div class="post-meta-content">
                                    <div class="post-meta-content-inner">
                                        <span class="post-by-author item">
                                            <span class="inner">By <a href="#" title="" rel="author">Construction</a></span>
                                        </span>

                                        <span class="post-date item">
                                            <span class="inner"><span class="entry-date">{{ object.creation_date }}</span></span>
                                        </span>

                                        <span class="post-comment item">
                                            <span class="inner"><a href="#">{{ commentsLen }} Comments</a></span>
                                        </span>
                                        {% comment %}
                                        <span class="post-meta-categories item">
                                            <span class="inner">
                                                <a href="#" rel="category">Building</a>,
                                                <a href="#" rel="category">Construction</a>,
                                                <a href="#" rel="category">Architecture</a>,
                                                <a href="#" rel="category">Green House</a>
                                            </span>
                                        </span>
                                        {% endcomment %}
                                    </div>
                                </div>
                            </div><!-- /.post-meta -->

                            <div class="post-content">
                                <p>{{ object.description }}</p>
                            </div><!-- /.post-excerpt -->

                            <div class="post-share post-link-share">
                                <div class="post-meta-share-text">Share:</div>
                                <div class="post-meta-share-icon">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div><!-- /.post-share -->

                            <div class="post-tags clearfix">
                                Tags:
                                <a href="#" rel="tag">Architectural</a>
                                <a href="#" rel="tag">Builder</a>
                                <a href="#" rel="tag">construction</a>
                            </div><!-- /.post-tags -->

                            <div id="comments" class="comments-area">
                                <h2 class="comments-title">{{ commentsLen }} Comments</h2>
                                <ol class="comment-list">
                                    {% for comment in comments %}
                                        <li class="comment">
                                            <article class="comment-wrap clearfix">
                                                <div class="gravatar"><img alt="image" src="/media/{{ comment.user.image }}" /></div>
                                                <div class="comment-content">
                                                    <div class="comment-meta">
                                                        <h6 class="comment-author"> {{ comment.user }} </h6>
                                                        <span class="comment-time">{{ comment.creation_date }}</span>
                                                        <span class="comment-reply"><a class="comment-reply-link" href="#">Reply</a></span>
                                                    </div>
                                                    <div class="comment-text">
                                                        <p>{{ comment.comment }}</p>
                                                    </div>
                                                </div>
                                            </article>
                                        </li><!-- #comment-## -->
                                    {% endfor %}
                                    {% comment %}
                                    <li class="comment">
                                        <article class="comment-wrap clearfix">
                                            <div class="gravatar"><img alt="image" src="assets/img/avatar.png" /></div>
                                            <div class="comment-content">
                                                <div class="comment-meta">
                                                    <h6 class="comment-author">BlogWP</h6>
                                                    <span class="comment-time">12/30/2016</span>
                                                    <span class="comment-reply"><a class="comment-reply-link" href="#">Reply</a></span>
                                                </div>
                                                <div class="comment-text">
                                                    <p>Cras diam dolor, ultricies a feugiat ullamcorper, porttitor eu dolor. Curabitur viverra sem sed facilisis ullamcorper. Quisque quam dui, fringilla sed ex eleifend, laoreet lacinia metus. Donec vehicula nisi id finibus interdum. Nulla facilisi. Morbi sed cursus erat.</p>
                                                </div>
                                            </div>
                                        </article>
                                        <ul class="children">
                                            <li class="comment">
                                                <article class="comment-wrap clearfix">
                                                    <div class="gravatar"><img alt="image" src="assets/img/avatar.png" /></div>
                                                    <div class="comment-content">
                                                        <div class="comment-meta">
                                                            <h6 class="comment-author">BlogWP</h6>
                                                            <span class="comment-time">12/30/2016</span>
                                                            <span class="comment-reply"><a class="comment-reply-link" href="#">Reply</a></span>
                                                        </div>
                                                        <div class="comment-text">
                                                            <p>Cras diam dolor, ultricies a feugiat ullamcorper, porttitor eu dolor. Curabitur viverra sem sed facilisis ullamcorper. Quisque quam dui, fringilla sed ex eleifend, laoreet lacinia metus. Donec vehicula nisi id finibus interdum. Nulla facilisi. Morbi sed cursus erat.</p>
                                                        </div>
                                                    </div>
                                                </article>
                                            </li><!-- #comment-## -->
                                        </ul><!-- .children -->
                                    </li><!-- #comment-## -->
                                
                                    <li class="comment">
                                        <article class="comment-wrap clearfix">
                                            <div class="gravatar"><img alt="image" src="assets/img/avatar.png" /></div>
                                            <div class="comment-content">
                                                <div class="comment-meta">
                                                    <h6 class="comment-author">BlogWP</h6>
                                                    <span class="comment-time">12/30/2016</span>
                                                    <span class="comment-reply"><a class="comment-reply-link" href="#">Reply</a></span>
                                                </div>
                                                <div class="comment-text">
                                                    <p>Cras diam dolor, ultricies a feugiat ullamcorper, porttitor eu dolor. Curabitur viverra sem sed facilisis ullamcorper. Quisque quam dui, fringilla sed ex eleifend, laoreet lacinia metus. Donec vehicula nisi id finibus interdum. Nulla facilisi. Morbi sed cursus erat.</p>
                                                </div>
                                            </div>
                                        </article>
                                    </li><!-- #comment-## -->
                                    {% endcomment %}
                                </ol><!-- /.comment-list -->
                                    
                                <div id="respond" class="comment-respond">
                                    <h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3>
                                    <form action="#" method="post" id="commentform" class="comment-form">
                                        <fieldset class="message-wrap">
                                            <textarea id="comment-message" name="comment" rows="8" tabindex="4" placeholder="Message"></textarea>
                                        </fieldset>
                                        <fieldset class="name-wrap">
                                            <input type="text" id="author" class="tb-my-input" name="author" tabindex="1" placeholder="Name" value="" size="32" aria-required="true">
                                        </fieldset>
                                        <fieldset class="email-wrap">
                                            <input type="text" id="email" class="tb-my-input" name="email" tabindex="2" placeholder="E-mail" value="" size="32" aria-required="true">
                                        </fieldset>
                                        <p class="form-submit">
                                            <input name="submit" type="submit" id="comment-reply" class="submit" value="Post Comment">
                                            <input type="hidden" name="comment_post_ID" value="100" id="comment_post_ID">
                                            <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                        </p>
                                    </form>
                                </div><!-- #respond -->
                            </div><!--/#comments -->
                        </article>
                    </div><!-- /.post-content-single-wrap -->
                </div><!-- /.inner-content-wrap -->
            </div><!-- /#site-content -->

            <div id="sidebar">
                <div id="inner-sidebar" class="inner-content-wrap">
                    <div class="widget widget_search">
                        <form role="search" method="get" action="#" class="search-form style-1">
                            <input type="search" class="search-field" placeholder="Search" value="" name="s" title="Search for:">
                            <button type="submit" class="search-submit" title="Search">Search</button>
                        </form>
                    </div>

                    <div class="widget widget_categories">
                        <h2 class="widget-title"><span>CATEGORIES</span></h2>
                        <ul>
                            {% include 'newsapp/includes/inc_filter.html' %}
                            {% comment %}
                            <li class="cat-item cat-item-3"><a href="#">Building</a> (2)</li>
                            <li class="cat-item cat-item-6"><a href="#">Ecobuilding</a> (4)</li>
                            <li class="cat-item cat-item-4"><a href="#">House</a> (4)</li>
                            <li class="cat-item cat-item-5"><a href="#">Office</a> (1)</li>
                            <li class="cat-item cat-item-10"><a href="#">Tower</a> (3)</li>
                            {% endcomment %}
                        </ul>
                    </div>

                    <div id="widget_news_post-3" class="widget widget_recent_news">
                        <h2 class="widget-title"><span>LASTEST NEWS</span></h2>
                        <ul class="recent-news clearfix">
                            {% for object in latest_news %}
                                <li class="clearfix">
                                    <div class="thumb">
                                        <img width="150" height="150" src="/media/{{ object.image }}" alt="image">
                                    </div><!-- /.thumb -->

                                    <div class="texts">
                                        <h3><a href="{% url 'news:news_detail' object.pk %}">{{ object.name }}</a></h3>
                                        <span class="post-date"><span class="entry-date">{{ object.creation_date }}</span></span>
                                    </div><!-- /.texts -->
                                </li>
                            {% endfor %}
                            {% comment %}
                            <li class="clearfix">
                                <div class="thumb">
                                    <img width="150" height="150" src="assets/img/news/1s.jpg" alt="image">
                                </div><!-- /.thumb -->

                                <div class="texts">
                                    <h3><a href="#">Best Treehouse Plans</a></h3>
                                    <span class="post-date"><span class="entry-date">December 30, 2016</span></span>
                                </div><!-- /.texts -->
                            </li>

                            <li class="clearfix">
                                <div class="thumb">
                                    <img width="150" height="150" src="assets/img/news/2s.jpg" alt="image">
                                </div><!-- /.thumb -->

                                <div class="texts">
                                    <h3><a href="#">The Future of Buildings</a></h3>
                                    <span class="post-date"><span class="entry-date">December 30, 2016</span></span>
                                </div><!-- /.texts -->
                            </li>

                            <li class="clearfix">
                                <div class="thumb">
                                    <img width="150" height="150" src="assets/img/news/3s.jpg" alt="image">
                                </div><!-- /.thumb -->

                                <div class="texts">
                                    <h3><a href="#">Best Treehouse Plans</a></h3>
                                    <span class="post-date"><span class="entry-date">December 30, 2016</span></span>
                                </div><!-- /.texts -->
                            </li>
                            {% endcomment %}
                        </ul>
                    </div>

                    <div class="widget widget_tag_cloud">
                        <h2 class="widget-title"><span>TAGS CLOUD</span></h2>
                        <div class="tagcloud">
                            {% include 'newsapp/includes/inc_afilter.html' %}
                            {% comment %}
                            <a href="#">Buildings</a>
                            <a href="#">Architectural</a>
                            <a href="#">Interior</a>
                            <a href="#">Construction</a>
                            <a href="#">Smart House</a>
                            {% endcomment %}
                        </div>
                    </div>
                </div><!-- /#inner-sidebar -->
            </div><!-- /#sidebar -->
        </div><!-- /#content-wrap -->
    </div><!-- /#main-content -->
{% endblock %}
