{% extends 'productsapp/base.html' %}
{% load static %}
{% block content-container %}
    <!-- Featured Title -->
    <div id="featured-title" class="clearfix featured-title-left">
        <div id="featured-title-inner" class="container clearfix">
            <div class="featured-title-inner-wrap">
                <div class="featured-title-heading-wrap">
                    <h1 class="featured-title-heading">News</h1>
                </div>
                <div id="breadcrumbs">
                    <div class="breadcrumbs-inner">
                        <div class="breadcrumb-trail">
                            <a href="#" title="Construction" rel="home" class="trail-begin">Home</a>
                            <span class="sep">/</span>
                            <span class="trail-end">News</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="main-content" class="site-main clearfix">
        <div id="content-wrap" class="container" style="display:flex;">
            <div id="site-content" class="site-content clearfix">
                <div id="inner-content" class="inner-content-wrap">
                    {% for object in object_list %}
                        <article class="hentry">
                            <div class="post-media clearfix">
                                <a href="{% url 'news:news_detail' object.pk %}"><img src="/media/{{ object.image }}" style="width:830px" alt="image"></a>
                            </div><!-- /.post-media -->

                            <div class="post-content-wrap">
                                <h2 class="post-title">
                                    <span class="post-title-inner">
                                        <a href="{% url 'news:news_detail' object.pk %}">{{ object.name }}</a>
                                    </span>
                                </h2><!-- /.post-title -->

                                <div class="post-meta style-2">
                                    <div class="post-meta-content">
                                        <div class="post-meta-content-inner">
                                            <span class="post-by-author item">
                                                <span class="inner">By <a href="#" title="" rel="author">Construction</a></span>
                                            </span>

                                            <span class="post-date item">
                                                <span class="inner"><span class="entry-date">{{ object.creation_date }}</span></span>
                                            </span>
                                            
                                            <span class="post-comment item">
                                                <span class="inner"><a href="#">{{ object.commentsLen }} Comments</a></span>
                                            </span>
                                            {% comment %}
                                            <span class="post-meta-categories item">
                                                <span class="inner">
                                                    {% include 'newsapp/includes/inc_news_category.html' %}
                                                </span>
                                            </span>
                                            {% endcomment %}
                                        </div>
                                    </div>
                                </div><!-- /.post-meta -->

                                <div class="post-content post-excerpt">
                                    <p>{{ object.description }}</p>
                                </div><!-- /.post-excerpt -->

                                {% include 'newsapp/snippets/post_read_more.html' %}
                            </div><!-- /.post-content-wrap -->
                        </article>
                    {% endfor%}
                    
                    {% comment %}
                    <div class="wprt-pagination clearfix">
                        <ul class="page-numbers">
                            <li><span class="page-numbers current">1</span></li>
                            <li><a class="page-numbers" href="#">2</a></li>
                            <li><a class="next page-numbers" href="#"><span class="fa fa-angle-right"></span></a></li>
                        </ul>
                    </div>
                    {% endcomment %}
                </div><!-- /.inner-content-wrap -->
            </div><!-- /#site-content -->

            <div id="sidebar">
                <div id="inner-sidebar" class="inner-content-wrap">
                    <div class="widget widget_search">
                        <form role="search" method="get" action="#" class="search-form style-1">
                            <input type="search" class="search-field" placeholder="Search" value="" name="s" title="Search for:">
                            <button type="submit" class="search-submit" title="Search">Search</button>
                        </form>
                    </div>

                    <div class="widget widget_categories">
                        <h2 class="widget-title"><span>CATEGORIES</span></h2>
                        <ul>
                            {% include 'newsapp/includes/inc_filter.html' %}
                        </ul>
                    </div>

                    <div id="widget_news_post-3" class="widget widget_recent_news">
                        <h2 class="widget-title"><span>LASTEST NEWS</span></h2>
                        <ul class="recent-news clearfix">
                            {% for object in latest_news %}
                                <li class="clearfix">
                                    <div class="thumb">
                                        <img width="150" height="150" src="/media/{{ object.image }}" alt="image">
                                    </div><!-- /.thumb -->

                                    <div class="texts">
                                        <h3><a href="{% url 'news:news_detail' object.pk %}">{{ object.name }}</a></h3>
                                        <span class="post-date"><span class="entry-date">{{ object.creation_date }}</span></span>
                                    </div><!-- /.texts -->
                                </li>
                            {% endfor %}
                            {% comment %}
                            <li class="clearfix">
                                <div class="thumb">
                                    <img width="150" height="150" src="{% static 'assets/img/news/1s.jpg' %}" alt="image">
                                </div><!-- /.thumb -->

                                <div class="texts">
                                    <h3><a href="#">Best Treehouse Plans</a></h3>
                                    <span class="post-date"><span class="entry-date">December 30, 2016</span></span>
                                </div><!-- /.texts -->
                            </li>

                            <li class="clearfix">
                                <div class="thumb">
                                    <img width="150" height="150" src="{% static 'assets/img/news/2s.jpg' %}" alt="image">
                                </div><!-- /.thumb -->

                                <div class="texts">
                                    <h3><a href="#">The Future of Buildings</a></h3>
                                    <span class="post-date"><span class="entry-date">December 30, 2016</span></span>
                                </div><!-- /.texts -->
                            </li>

                            <li class="clearfix">
                                <div class="thumb">
                                    <img width="150" height="150" src="{% static 'assets/img/news/3s.jpg' %}" alt="image">
                                </div><!-- /.thumb -->

                                <div class="texts">
                                    <h3><a href="#">Best Treehouse Plans</a></h3>
                                    <span class="post-date"><span class="entry-date">December 30, 2016</span></span>
                                </div><!-- /.texts -->
                            </li>
                            {% endcomment %}
                        </ul>
                    </div>

                    <div class="widget widget_tag_cloud">
                        <h2 class="widget-title"><span>TAGS CLOUD</span></h2>
                        <div class="tagcloud">
                            {% include 'newsapp/includes/inc_afilter.html' %}
                        </div>
                    </div>
                </div><!-- /#inner-sidebar -->
            </div><!-- /#sidebar -->
        </div><!-- /#content-wrap -->
    </div><!-- /#main-content -->

{% endblock %}
