{% extends 'productsapp/base.html' %}
{% load static %}
{% block content-container %}

    <!-- Main Content -->
    <div id="main-content" class="site-main clearfix">
        <div id="content-wrap">
            <div id="site-content" class="site-content clearfix">
                <div id="inner-content" class="inner-content-wrap">
                    <div class="page-content">
                        <section class="wprt-section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="wprt-spacer" data-desktop="70" data-mobi="60"
                                             data-smobi="60"></div>
                                        <h1 class="text-center margin-bottom-10">Наши услуги</h1>
                                        <div class="wprt-lines style-2 custom-1">
                                            <div class="line-1"></div>
                                        </div>

                                        <div class="wprt-spacer" data-desktop="25" data-mobi="25"
                                             data-smobi="25"></div>

                                        <p class="wprt-subtitle">Cras id justo eget sapien scelerisque lacinia non a
                                            eros. In a volutpat magna. Vivamus pretium urna at condimentum porta.
                                            Phasellus mollis mauris dolor, a tincidunt mauris fringilla.</p>

                                        <div class="wprt-spacer" data-desktop="50" data-mobi="40"
                                             data-smobi="40"></div>
                                    </div><!-- /.col-md-12 -->

                                    <div class="col-md-4">
                                        <div class="wprt-icon-box accent-background rounded icon-effect-3 icon-right">
                                            <div class="icon-wrap">
                                                <span class="dd-icon icon-o-roof"></span>
                                            </div>
                                            <div class="content-wrap">
                                                <h3 class="dd-title font-size-18">Metal Roofing</h3>
                                                <p>Vestibulum eu libero volutpat, portas quam acc, tempus sem. Donec
                                                    sodales quam id lorem lobortis, interdum nisl.</p>
                                            </div>
                                        </div>

                                        <div class="wprt-spacer" data-desktop="22" data-mobi="30"
                                             data-smobi="30"></div>

                                        <div class="wprt-icon-box accent-background rounded icon-effect-3 icon-right">
                                            <div class="icon-wrap">
                                                <span class="dd-icon icon-o-light-bulb"></span>
                                            </div>
                                            <div class="content-wrap">
                                                <h3 class="dd-title font-size-18">Electrical Systems</h3>
                                                <p>Vestibulum eu libero volutpat, portas quam acc, tempus sem. Donec
                                                    sodales quam id lorem lobortis, vitae nisl.</p>
                                            </div>
                                        </div>

                                        <div class="wprt-spacer" data-desktop="22" data-mobi="30"
                                             data-smobi="30"></div>

                                        <div class="wprt-icon-box accent-background rounded icon-effect-3 icon-right">
                                            <div class="icon-wrap">
                                                <span class="dd-icon icon-o-paint-roller"></span>
                                            </div>
                                            <div class="content-wrap">
                                                <h3 class="dd-title font-size-18">Tiling and Painting</h3>
                                                <p>Vestibulum eu libero volutpat, portas quam acc, tempus sem. Donec
                                                    sodales id lorem lobortis, vitae interdum nisl.</p>
                                            </div>
                                        </div>

                                        <div class="wprt-spacer" data-desktop="20" data-mobi="30"
                                             data-smobi="30"></div>
                                    </div><!-- /.col-md-4 -->

                                    <div class="col-md-4">
                                        <div class="text-center">
                                            <img src="{% static 'assets/img/worker.png' %}" alt="image"/>
                                        </div>
                                    </div><!-- /.col-md-4 -->

                                    <div class="col-md-4">
                                        <div class="wprt-spacer" data-desktop="0" data-mobi="30"
                                             data-smobi="30"></div>

                                        <div class="wprt-icon-box accent-background rounded icon-effect-3 icon-left">
                                            <div class="icon-wrap">
                                                <span class="dd-icon icon-o-glass-wall"></span>
                                            </div>
                                            <div class="content-wrap">
                                                <h3 class="dd-title font-size-18">Laminate Flooring</h3>
                                                <p>Vestibulum eu libero volutpat, portas quam acc, tempus sem. Donec
                                                    quam id lorem lobortis, vitae interdum nisl.</p>
                                            </div>
                                        </div>

                                        <div class="wprt-spacer" data-desktop="22" data-mobi="30"
                                             data-smobi="30"></div>

                                        <div class="wprt-icon-box accent-background rounded icon-effect-3 icon-left">
                                            <div class="icon-wrap">
                                                <span class="dd-icon icon-o-plumbering"></span>
                                            </div>
                                            <div class="content-wrap">
                                                <h3 class="dd-title font-size-18">Plumbilg Services</h3>
                                                <p>Vestibulum eu libero volutpat, portas quam acc, tempus sem. Donec
                                                    sodales quam id lobortis, vitae interdum nisl.</p>
                                            </div>
                                        </div>

                                        <div class="wprt-spacer" data-desktop="20" data-mobi="30"
                                             data-smobi="30"></div>

                                        <div class="wprt-icon-box accent-background rounded icon-effect-3 icon-left">
                                            <div class="icon-wrap">
                                                <span class="dd-icon icon-o-drill-1"></span>
                                            </div>
                                            <div class="content-wrap">
                                                <h3 class="dd-title font-size-18">Restoration Services</h3>
                                                <p>Vestibulum eu libero volutpat, portas quam, tempus sem. Donec
                                                    sodales quam id lorem lobortis, vitae interdum nisl.</p>
                                            </div>
                                        </div>

                                        <div class="wprt-spacer" data-desktop="0" data-mobi="30"
                                             data-smobi="30"></div>
                                    </div><!-- /.col-md-4 -->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </section>

                        <!-- Promotion -->
                        <section class="wprt-section promotion">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="wprt-spacer" data-desktop="8" data-mobi="8"
                                             data-smobi="8"></div>
                                        <h2 class="text-white text-center-mobile font-size-20 margin-bottom-0">We
                                            will help you make your house look awesome & professional</h2>
                                        <div class="wprt-spacer" data-desktop="0" data-mobi="20"
                                             data-smobi="20"></div>
                                    </div><!-- /.col-md-8 -->

                                    <div class="col-md-4">
                                        <div class="text-right text-center-mobile"><a href="#"
                                                                                      class="wprt-button white rounded-3px">CONTACT
                                            US</a></div>
                                        <div class="wprt-spacer" data-desktop="0" data-mobi="10"
                                             data-smobi="10"></div>
                                    </div><!-- /.col-md-4 -->

                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </section>

                        <!-- OFFER -->
                        <section class="wprt-section offer">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="wprt-spacer" data-desktop="70" data-mobi="60"
                                             data-smobi="60"></div>

                                        <h2>WHAT WE OFFER</h2>
                                        <div class="wprt-lines style-1 custom-3">
                                            <div class="line-1"></div>
                                            <div class="line-2"></div>
                                        </div>

                                        <div class="wprt-spacer" data-desktop="50" data-mobi="40"
                                             data-smobi="40"></div>
                                    </div><!-- /.col-md-12 -->

                                    <div class="col-md-12">
                                        <div class="wprt-service arrow-style-2 has-arrows arrow60 arrow-light"
                                             data-layout="slider" data-column="3" data-column2="3" data-column3="2"
                                             data-column4="1" data-gaph="30" data-gapv="30">
                                            <div id="service-wrap" class="cbp">
                                                <div class="cbp-item">
                                                    <div class="service-item clearfix">
                                                        <div class="thumb"><img src="{% static 'assets/img/services/1.jpg' %}"
                                                                                alt="image"/></div>
                                                        <div class="service-item-wrap">
                                                            <h3 class="title font-size-18"><a href="#">Design &
                                                                Construction</a></h3>
                                                            <p class="desc">Nulla iaculis turpis in nibh aliquam
                                                                maximus. In dignissim arcu vel diam scelerisque,
                                                                pretium urna </p>
                                                            <a href="#" class="wprt-button small rounded-3px">READ
                                                                MORE</a>
                                                        </div>
                                                    </div>
                                                </div><!-- /.cbp-item -->

                                                <div class="cbp-item">
                                                    <div class="service-item clearfix">
                                                        <div class="thumb"><img src="{% static 'assets/img/services/2.jpg' %}"
                                                                                alt="image"/></div>
                                                        <div class="service-item-wrap">
                                                            <h3 class="title font-size-18"><a href="#">The Green
                                                                Building</a></h3>
                                                            <p class="desc">Nulla iaculis turpis in nibh aliquam
                                                                maximus. In dignissim arcu vel diam scelerisque,
                                                                pretium urna </p>
                                                            <a href="#" class="wprt-button small rounded-3px">READ
                                                                MORE</a>
                                                        </div>
                                                    </div>
                                                </div><!-- /.cbp-item -->

                                                <div class="cbp-item">
                                                    <div class="service-item clearfix">
                                                        <div class="thumb"><img src="{% static 'assets/img/services/3.jpg' %}"
                                                                                alt="image"/></div>
                                                        <div class="service-item-wrap">
                                                            <h3 class="title font-size-18"><a href="#">House
                                                                Renovation</a></h3>
                                                            <p class="desc">Nulla iaculis turpis in nibh aliquam
                                                                maximus. In dignissim arcu vel diam scelerisque,
                                                                pretium urna </p>
                                                            <a href="#" class="wprt-button small rounded-3px">READ
                                                                MORE</a>
                                                        </div>
                                                    </div>
                                                </div><!-- /.cbp-item -->

                                                <div class="cbp-item">
                                                    <div class="service-item clearfix">
                                                        <div class="thumb"><img src="{% static 'assets/img/services/1.jpg' %}"
                                                                                alt="image"/></div>
                                                        <div class="service-item-wrap">
                                                            <h3 class="title font-size-18"><a href="#">Design &
                                                                Construction</a></h3>
                                                            <p class="desc">Nulla iaculis turpis in nibh aliquam
                                                                maximus. In dignissim arcu vel diam scelerisque,
                                                                pretium urna </p>
                                                            <a href="#" class="wprt-button small rounded-3px">READ
                                                                MORE</a>
                                                        </div>
                                                    </div>
                                                </div><!-- /.cbp-item -->

                                            </div><!-- /#service-wrap -->
                                        </div><!-- /.wprt-service -->
                                    </div><!-- /.col-md-12 -->

                                    <div class="col-md-12">
                                        <div class="wprt-spacer" data-desktop="80" data-mobi="60"
                                             data-smobi="60"></div>
                                    </div><!-- /.col-md-12 -->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Main Content -->

{% endblock %}