<div class="post-read-more">
    <div class="post-link">
        <a href="{% url 'news:news_detail' object.pk %}">Read More</a>
    </div>

    <div class="post-share post-link-share">
        <div class="post-meta-share-text">Share:</div>
        <div class="post-meta-share-icon">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
        </div>
    </div><!-- /.post-share -->
</div><!-- /.post-read-more -->