<!-- Main Content -->
<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">
                    <section class="wprt-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
<!--КРАТКОЕ ОПИСАНИЕ-->
                                <div class="col-md-8">
                                    <div>
                                        <h3 class="line-height-normal margin-bottom-10">КРАТКОЕ ОПИСАНИЕ</h3>
                                        <div class="wprt-lines style-1 custom-3">
                                            <div class="line-1"></div>
                                            <div class="line-2"></div>
                                        </div>

                                        <div class="wprt-spacer" data-desktop="30" data-mobi="25" data-smobi="25"></div>

                                        <p>{{ product.description }}</p>

                                        <p>Vestibulum eu libero volutpat, portas quam acc, tempus sem. Donec sodales
                                            quam id lorem lobortis, vitae. Pellentesque habitant morbi tristique
                                            senectus et netus et malesuada fames ac turpis egestas. Integer blandit
                                            nulla quis fermentum hendrerit.</p>
                                    </div>
                                </div><!-- /.col-md-8 -->
<!--СОСТАВ МАТЕРИАЛОВ ТЕХРЕШЕНИЯ И ЕЁ ОСОБЕННОСТИ-->
                                <div class="col-md-8">
                                    <div>
                                        <h3 class="line-height-normal margin-bottom-10">ОСОБЕННОСТИ КОНСТРУКЦИИ</h3>
                                        <div class="wprt-lines style-1 custom-3">
                                            <div class="line-1"></div>
                                            <div class="line-2"></div>
                                        </div>

                                        <div class="wprt-spacer" data-desktop="30" data-mobi="25" data-smobi="25"></div>

                                        <p>{{ product.description }}</p>

                                        <p>Vestibulum eu libero volutpat, portas quam acc, tempus sem. Donec sodales
                                            quam id lorem lobortis, vitae. Pellentesque habitant morbi tristique
                                            senectus et netus et malesuada fames ac turpis egestas. Integer blandit
                                            nulla quis fermentum hendrerit.</p>
                                    </div>
                                </div><!-- /.col-md-8 -->
<!--СТАТЬЯ О ТЕХНИЧЕСКОМ РЕШЕНИИ- /ЖУРНАЛЫ И ТД/ PDF LOADER-->
                                <div class="col-md-8">
                                    <div>
                                        <h3 class="line-height-normal margin-bottom-10">ОСОБЕННОСТИ КОНСТРУКЦИИ</h3>
                                        <div class="wprt-lines style-1 custom-3">
                                            <div class="line-1"></div>
                                            <div class="line-2"></div>
                                        </div>

                                        <div class="wprt-spacer" data-desktop="30" data-mobi="25" data-smobi="25"></div>

                                        <p>{{ product.description }}</p>

                                        <p>Vestibulum eu libero volutpat, portas quam acc, tempus sem. Donec sodales
                                            quam id lorem lobortis, vitae. Pellentesque habitant morbi tristique
                                            senectus et netus et malesuada fames ac turpis egestas. Integer blandit
                                            nulla quis fermentum hendrerit.</p>
                                    </div>
                                </div><!-- /.col-md-8 -->
<!--ДОКУМЕНТАЦИЯ О ПРОДУКТЕ-->
                        <div class="col-md-12">
                            <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                            <h2 class="line-height-normal margin-bottom-10">Документация</h2>
                            <div class="wprt-lines style-1 custom-3">
                                <div class="line-1"></div>
                                <div class="line-2"></div>
                            </div>
                            <div class="wprt-spacer" data-desktop="25" data-mobi="25" data-smobi="25"></div>
                        </div>

                        <div class="col-md-6 row">
                                {% for item in researches %}
                                <div class="wprt-toggle style-1">
                                    <h3 class="toggle-title">{{ item.name }}</h3>
                                    <div class="toggle-content">
                                        {% for i in item.file.all %}
                                        {{ item.description }}
                                        <div class="wprt-spacer" data-desktop="10" data-mobi="10" data-smobi="10"></div>
                                        <a class="wprt-button small rounded-30px" href="/media/{{ i.file }}"
                                           target="_blank">СКАЧАТЬ PDF</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div><!-- /.col-md-12 -->

                        <div class="col-md-6 row">
                            {% for item in documents %}
                            <div class="wprt-toggle style-2">
                                <h3 class="toggle-title">{{ item.name }}</h3>
                                <div class="toggle-content">
                                    {% for i in item.file.all %}
                                    {{ item.description }}
                                    <div class="wprt-spacer" data-desktop="10" data-mobi="10" data-smobi="10"></div>
                                    <a class="wprt-button small rounded-30px" href="/media/{{ i.file }}"
                                       target="_blank">СКАЧАТЬ PDF</a>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div><!-- /.col-md-6 -->
<!--/ ДОКУМЕНТАЦИЯ О ПРОДУКТЕ-->
                                <div class="col-md-4">
                                    <div class="wprt-spacer" data-desktop="0" data-mobi="20" data-smobi="20"></div>

                                    <h3 class="line-height-normal margin-bottom-10">НАУЧНАЯ СТАТЬЯ ИЗ ЖУРНАЛА</h3>
                                    <div class="wprt-lines style-1 custom-3">
                                        <div class="line-1"></div>
                                        <div class="line-2"></div>
                                    </div>

                                    <div class="wprt-spacer" data-desktop="30" data-mobi="25" data-smobi="25"></div>

                                    <ul class="wprt-list style-2 accent-color margin-bottom-25">
                                        <li><strong>Client:</strong> ThemeForest Builder</li>
                                        <li><strong>Architect:</strong> Richardson and Sandra</li>
                                        <li><strong>Builder:</strong> GraphicRiver Builder Corporate</li>
                                        <li><strong>Budget:</strong> $1 250 000,00</li>
                                    </ul>

                                    <a href="#" class="wprt-button small rounded-3px">LIVE PREVIEW</a>
                                </div><!-- /.col-md-4 -->

                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Main Content -->

