{% extends 'productsapp/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block bred_title %}{{ bred_title }}{% endblock %}
{% block content-container %}

    <!-- Main Content -->
    <div id="main-content" class="site-main clearfix">
        <div id="content-wrap">
            <div id="site-content" class="site-content clearfix">
                <div id="inner-content" class="inner-content-wrap">
                    <div class="page-content">
                        <section class="wprt-section">
                            <div class="container">
                                <div class="wprt-spacer" data-desktop="15" data-mobi="60" data-smobi="60"></div>
                                {#                            ВЫВОД ВСЕЙ ДОКУМЕНТАЦИИ ПО КОМПАНИЯМ#}
                                {% for item in companies %}
                                    <div class='row'>
                                        <div class="col-md-4">
                                            <div class="wprt-spacer" data-desktop="5" data-mobi="60"
                                                 data-smobi="60"></div>

                                            <h2 class="text-center margin-bottom-10">{{ item.company__name }}</h2>
                                            <div class="wprt-lines style-2 custom-1">
                                                <div class="line-1"></div>
                                            </div>
                                            <div class="wprt-spacer" data-desktop="50" data-mobi="40"
                                                 data-smobi="40"></div>
                                        </div><!-- /.col-md-12 -->

                                        <div class="col-md-8 row">
                                            {% for i in documents %}
                                                {% if i.company__name == item.company__name %}
                                                    <div class="wprt-toggle {% if i.type_id == 1 %} style-1 {% else %} style-2 {% endif %}">
                                                        <h3 class="toggle-title">{{ i.name }}</h3>
                                                        <div class="toggle-content" style="color: black;">
                                                            {{ i.description }}
                                                            <div class="wprt-spacer" data-desktop="10" data-mobi="10"
                                                                 data-smobi="10"></div>
                                                            <a class="wprt-button small rounded-30px"
                                                               href="/media/{{ i.file__file }}" target="_blank">СКАЧАТЬ
                                                                PDF</a>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div><!-- /.col-md-12 -->
                                        <div class="col-md-12">
                                            <div class="wprt-spacer" data-desktop="5" data-mobi="60"
                                                 data-smobi="60"></div>
                                        </div>
                                    </div><!-- /.row -->
                                    <hr>
                                {% endfor %}
                                {#                            ВЫВОД ВСЕЙ ДОКУМЕНТАЦИИ ПО КОМПАНИЯМ#}

                            </div><!-- /.container -->
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
