{% extends 'productsapp/base.html' %}
{% load static %}
{% block content-container %}
    {% load static %}
    <div style="height: 5000px; border: 1px solid black">
        <form action="{% url 'projects:company_delete' pk=companies.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
<h3>Вы уверены?</h3>
            <a href="{% url 'projects:projects' %}">НЕТ</a>
            <button type="submit" value="сохранить" class="btn btn-danger">ДА</button>
        </form>
    </div>
{% endblock %}