{% extends 'productsapp/base.html' %}
{% load static %}
{% block content-container %}
    <div style="height: 50px;"></div>
    <div class="container">

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {{ project_form.as_p }}
            {{ formset.as_p }}
            <button type="submit" value="сохранить" class="wprt-button icon-flash confirm-button">
                СОХРАНИТЬ
            </button>
            <a href="{{ project.get_absolute_url }}" class="wprt-button small cancel-button">
                ВЕРНУТЬСЯ
            </a>
        </form>
    </div>

{% endblock %}
