{% extends 'productsapp/base.html' %}
{% load static %}
{% block content-container %}
    <div style="height: 50px;"></div>
    <div class="container">

        {% for object in object_list %}
            <p>Участник: {{ object.manager_name }}</p>
            <p>Роль в проекте: {{ object.role }}</p>
            <button type="submit" value="удалить" class="btn btn-success">удалить</button>
        {% endfor %}

        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="сохранить" class="btn btn-success">
                сохранить
            </button>
        </form>

<div class="wprt-spacer" data-desktop="20" data-mobi="20" data-smobi="20"></div>
    <a href="{{ project.get_absolute_url }}" class="btn btn-info bnt_save">вернуться назад</a>
    </div>


{% endblock %}
