{% extends 'productsapp/base.html' %}
{% load static %}
{% block content-container %}

<!-- Main Content -->
<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">
                    <section class="wprt-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-8">
                                    <div class="wprt-galleries galleries w-770px" data-width="142" data-margin="15">
                                        <div id="wprt-slider" class="flexslider">
                                            <ul class="slides">
                                                <!-- ПОДГРУЗКА КАРТИНОК ИЗ МОДЕЛИ ProjectImage-->
                                                {% for item in object.images.select_related %}
                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="/media/{{ item.image }}"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="/media/{{ item.image }}" alt="pic"/>
                                                </li>
                                                {% endfor %}
                                                <!-- / .ПОДГРУЗКА КАРТИНОК ИЗ МОДЕЛИ ProjectImage-->

                                            </ul>
                                        </div>

                                        <div id="wprt-carousel" class="flexslider">
                                            <ul class="slides">

                                                <!-- ПОДГРУЗКА МИНИАТЮРНЫХ КАРТИНОК ИЗ МОДЕЛИ ProjectImage-->
                                                {% for item in object.images.select_related %}
                                                <li><img src="/media/{{ item.image }}" alt="pic"></li>
                                                {% endfor %}
                                                <!-- ПОДГРУЗКА МИНИАТЮРНЫХ КАРТИНОК ИЗ МОДЕЛИ ProjectImage-->

                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-8 -->
                                <div class="col-md-4">
                                    <div class="wprt-spacer" data-desktop="0" data-mobi="40" data-smobi="40"></div>

                                <!-- ИНФОРМАЦИЯ О ПРОЕКТЕ ИЗ МОДЕЛИ Project-->
                                    <h3 class="line-height-normal margin-bottom-10">{{ object.name }}</h3>
                                    {% if request.user.is_superuser %}
                                        <a href="#">редактировать</a>
                                    {% endif %}
                                    <div class="wprt-lines style-1 custom-3">
                                        <div class="line-1"></div>
                                        <div class="line-2"></div>
                                    </div>

                                    <div class="wprt-spacer" data-desktop="25" data-mobi="25" data-smobi="25"></div>
                                    <p>Регион: {{ object.city }}</p>
                                    <p>Краткие характеристики объекта: {{ object.description }} </p>

                                    <div class="wprt-lines style-1 custom-4">
                                        <div class="line-1"></div>
                                    </div>
                                    <br>
<!--                                TOGGLES-->
                                    {% if request.user.is_authenticated %}
                                    <div class="wprt-toggle style-1">
                                        <h3 class="toggle-title">Местоположение проекта</h3>
                                        <div class="toggle-content" style="color: black;">
                                            <ul class="wprt-list style-2 accent-color margin-top-3 margin-bottom-3">
                                            {% if object.address or object.coordinate %}
                                                {% if object.address %}
                                                    <li>Адрес объекта: {{ object.address }}</li>
                                                {% endif %}
                                                {% if object.coordinate %}
                                                    <li>Посмотреть на <a href="{% url 'ymapapp:map' %}">карте</a></li>
                                                {% endif %}
                                            {% else %}
                                                <li>Местоположение объекта владельцем не указано</li>
                                            {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="wprt-toggle style-1">
                                        <h3 class="toggle-title">Участники проекта</h3>
                                        <div class="toggle-content" style="color: black;">
                                            <ul class="wprt-list style-2 accent-color margin-top-3 margin-bottom-3">
                                                {% for item in object.get_managers %}
                                                <li>{{ item.role | title }}: {{ item.manager.first_name }} {{ item.manager.last_name }} ({% for i in item.manager.get_company %}{{ i.company.form }} {{ i.company.name }}{% endfor %})</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="wprt-toggle style-1">
                                        <h3 class="toggle-title">Контрагенты проекта</h3>
                                        <div class="toggle-content" style="color: black;">
                                            <ul class="wprt-list style-2 accent-color margin-top-3 margin-bottom-3">
                                                    {% for item in object.get_companies %}
                                                    <li> {{ item.company.category }}: {{ item.company.form }} {{ item.company.name }}</li>
                                                    {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="wprt-toggle style-1">
                                        <h3 class="toggle-title">Технические решения</h3>
                                        <div class="toggle-content" style="color: black;">
                                            <ul class="wprt-list style-2 accent-color margin-top-3 margin-bottom-3">
                                                {% for item in object.get_products %}
                                                <li>{{ item.techsol.name }}: {{ item.value }} {{ item.techsol.measure }}</li>
                                                {% endfor %}
                                            </ul>
                                            <a class="btn btn-primary btn-round" href="{% url 'projects:product_create' %}">добавить</a>
                                        </div>
                                    </div>
                                    {% endif %}
<!--                                END OF TOGGLES-->



                                </div><!-- /.col-md-4 -->

                                <div class="col-md-6">
                                </div><!-- /.col-md-6 -->

                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div>
                        </div>
                    </section>

                    <section class="wprt-section">
                        <div class="container">
                            <div class='row'>
                                <div class="col-md-12">
                                    <h2 class="text-center margin-bottom-10">TOGGLES</h2>
                                    <div class="wprt-lines style-2 custom-1">
                                        <div class="line-1"></div>
                                    </div>
                                    <div class="wprt-spacer" data-desktop="50" data-mobi="40" data-smobi="40"></div>

                                </div>

                                <div class="col-md-6">
                                    <div class="wprt-toggle style-1">
                                        <h3 class="toggle-title">Employees have many years of experience</h3>
                                        <div class="toggle-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a metus pellentesque, scelerisque ex sed, volutpat nisi. Curabitur tortor mi, eleifend ornare lobortis non. Nulla porta purus quis iaculis ultrices. Proin aliquam sem at nibh hendrerit sagittis. Nullam ornare odio eu lacus tincidunt malesuada. Sed eu vestibulum elit. Curabitur tortor mi, eleifend ornare.</div>
                                    </div>

                                    <div class="wprt-toggle active style-1">
                                        <h3 class="toggle-title">Quality construction continues after the project</h3>
                                        <div class="toggle-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a metus pellentesque, scelerisque ex sed, volutpat nisi. Curabitur tortor mi, eleifend ornare lobortis non. Nulla porta purus quis iaculis ultrices. Proin aliquam sem at nibh hendrerit sagittis. Nullam ornare odio eu lacus tincidunt malesuada. Sed eu vestibulum elit. Curabitur tortor mi, eleifend ornare.</div>
                                    </div>

                                    <div class="wprt-toggle style-1">
                                        <h3 class="toggle-title">They use technology to do the job more quickly</h3>
                                        <div class="toggle-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a metus pellentesque, scelerisque ex sed, volutpat nisi. Curabitur tortor mi, eleifend ornare lobortis non. Nulla porta purus quis iaculis ultrices. Proin aliquam sem at nibh hendrerit sagittis. Nullam ornare odio eu lacus tincidunt malesuada. Sed eu vestibulum elit. Curabitur tortor mi, eleifend ornare.</div>
                                    </div>

                                    <div class="wprt-toggle style-1">
                                        <h3 class="toggle-title">Employees are continually trained on safety issues</h3>
                                        <div class="toggle-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a metus pellentesque, scelerisque ex sed, volutpat nisi. Curabitur tortor mi, eleifend ornare lobortis non. Nulla porta purus quis iaculis ultrices. Proin aliquam sem at nibh hendrerit sagittis. Nullam ornare odio eu lacus tincidunt malesuada. Sed eu vestibulum elit. Curabitur tortor mi, eleifend ornare.</div>
                                    </div>
                                </div><!-- /.col-md-6 -->

                                <div class="col-md-6">
                                    <div class="wprt-toggle style-2">
                                        <h3 class="toggle-title">Employees have many years of experience</h3>
                                        <div class="toggle-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a metus pellentesque, scelerisque ex sed, volutpat nisi. Curabitur tortor mi, eleifend ornare lobortis non. Nulla porta purus quis iaculis ultrices. Proin aliquam sem at nibh hendrerit sagittis. Nullam ornare odio eu lacus tincidunt malesuada. Sed eu vestibulum elit. Curabitur tortor mi, eleifend ornare.</div>
                                    </div>

                                    <div class="wprt-toggle active style-2">
                                        <h3 class="toggle-title">Quality construction continues after the project</h3>
                                        <div class="toggle-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a metus pellentesque, scelerisque ex sed, volutpat nisi. Curabitur tortor mi, eleifend ornare lobortis non. Nulla porta purus quis iaculis ultrices. Proin aliquam sem at nibh hendrerit sagittis. Nullam ornare odio eu lacus tincidunt malesuada. Sed eu vestibulum elit. Curabitur tortor mi, eleifend ornare.</div>
                                    </div>

                                    <div class="wprt-toggle style-2">
                                        <h3 class="toggle-title">They use technology to do the job more quickly</h3>
                                        <div class="toggle-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a metus pellentesque, scelerisque ex sed, volutpat nisi. Curabitur tortor mi, eleifend ornare lobortis non. Nulla porta purus quis iaculis ultrices. Proin aliquam sem at nibh hendrerit sagittis. Nullam ornare odio eu lacus tincidunt malesuada. Sed eu vestibulum elit. Curabitur tortor mi, eleifend ornare.</div>
                                    </div>

                                    <div class="wprt-toggle style-2">
                                        <h3 class="toggle-title">Employees are continually trained on safety issues</h3>
                                        <div class="toggle-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a metus pellentesque, scelerisque ex sed, volutpat nisi. Curabitur tortor mi, eleifend ornare lobortis non. Nulla porta purus quis iaculis ultrices. Proin aliquam sem at nibh hendrerit sagittis. Nullam ornare odio eu lacus tincidunt malesuada. Sed eu vestibulum elit. Curabitur tortor mi, eleifend ornare.</div>
                                    </div>
                                </div><!-- /.col-md-6 -->

                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="70" data-mobi="60" data-smobi="60"></div>
                                </div>

                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </section>

{% endblock %}
