{% extends 'productsapp/base.html' %}
{% load static %}
{% block content-container %}

<!-- Featured Title -->
<div id="featured-title" class="clearfix featured-title-left">
    <div id="featured-title-inner" class="container clearfix">
        <div class="featured-title-inner-wrap">
            <div class="featured-title-heading-wrap">
                <h1 class="featured-title-heading">Подробная информация о проекте</h1>
            </div>
            <div id="breadcrumbs">
                <div class="breadcrumbs-inner">
                    <div class="breadcrumb-trail">
                        <a href="#" title="Construction" rel="home" class="trail-begin">Главная</a>
                        <span class="sep">/</span>
                        <span class="trail-end">Информация о проекте</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->
<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">
                    <section class="wprt-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-8">
                                    <div class="wprt-galleries galleries w-770px" data-width="142" data-margin="15">
                                        <div id="wprt-slider" class="flexslider">
                                            <ul class="slides">
                                                {% for image in gallery %}
                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="#"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="/media/{{ image.image }}" alt="pic" />
                                                </li>
                                                {% endfor %}
<!--                                                <li class="flex-active-slide">-->
<!--                                                    <a class="zoom" href="assets/img/gallery/p-2.jpg"><i class="fa fa-arrows-alt"></i></a>-->
<!--                                                    <img src="assets/img/gallery/p-2.jpg" alt="image" />-->
<!--                                                </li>-->

<!--                                                <li class="flex-active-slide">-->
<!--                                                    <a class="zoom" href="assets/img/gallery/p-3.jpg"><i class="fa fa-arrows-alt"></i></a>-->
<!--                                                    <img src="assets/img/gallery/p-3.jpg" alt="image" />-->
<!--                                                </li>-->

<!--                                                <li class="flex-active-slide">-->
<!--                                                    <a class="zoom" href="assets/img/gallery/p-1.jpg"><i class="fa fa-arrows-alt"></i></a>-->
<!--                                                    <img src="assets/img/gallery/p-1.jpg" alt="image" />-->
<!--                                                </li>-->
<!--                                                <li class="flex-active-slide">-->
<!--                                                    <a class="zoom" href="assets/img/gallery/p-2.jpg"><i class="fa fa-arrows-alt"></i></a>-->
<!--                                                    <img src="assets/img/gallery/p-2.jpg" alt="image" />-->
<!--                                                </li>-->
                                            </ul>
                                        </div>

                                        <div id="wprt-carousel" class="flexslider">
                                            <ul class="slides">
                                                {% for image in gallery %}
                                                <li><img src="/media/{{ image.image }}" alt="pic"></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-8 -->

                                <div class="col-md-4">
                                    <div class="wprt-spacer" data-desktop="0" data-mobi="40" data-smobi="40"></div>

                                    <h3 class="line-height-normal margin-bottom-10">{{ project.name }}</h3>
                                    <div class="wprt-lines style-1 custom-3">
                                        <div class="line-1"></div>
                                        <div class="line-2"></div>
                                    </div>

                                    <div class="wprt-spacer" data-desktop="25" data-mobi="25" data-smobi="25"></div>
                                    <p>Регион: {{ project.city }}</p>
                                    <p>Адрес объекта: {{ project.address }}. Посмотреть на <a href="#">карте</a></p>
                                    <p>Краткие характеристики объекта: {{ project.description }} lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec erat erat. Integer blandit nulla quis fermentum hendrerit. Vestibulum eu libero volutpat, portas quam acc, tempus sem. Donec sodales quam id lorem lobortis, vitae. </p>
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque nec erat erat. Integer blandit nulla quis fermentum hendrerit.</p>


                                    <div class="wprt-lines style-1 custom-4">
                                        <div class="line-1"></div>
                                    </div>

                                    <ul class="wprt-list style-2 accent-color margin-top-30 margin-bottom-25">
                                        <li><strong>Заказчик:</strong> {{ project.customer }}</li>
                                        <li><strong>Проектировщик:</strong> {{ project.designer }}</li>
                                        <li><strong>Подрядчик:</strong> {{ project.contractor }}</li>
                                        <li><strong>Год сдачи:</strong> {{ project.finishDate }}</li>
                                        <li><strong>Бюджет:</strong> $1 250 000,00</li>
                                    </ul>
                                    <ul class="wprt-list style-2 accent-color margin-top-30 margin-bottom-25">
                                        {{ values }}
                                        {% for item in values %}
                                                <li><strong>Название</strong>
                                                    {% for i in item.tech_sol.all %}
                                                        {{ i.name }}
                                                    {% endfor %}
                                                {{ item.project.name }}, {{ item.value }}</li>
                                        {% endfor %}
                                    </ul>
<!--                                    <a href="#" class="wprt-button small rounded-3px">LIVE PREVIEW</a>-->
                                </div><!-- /.col-md-4 -->

<!--                                TOGGLES-->
                                <div class="col-md-6">
                                    <div class="wprt-toggle style-2">
                                        <h3 class="toggle-title">Employees have many years of experience</h3>
                                        <div class="toggle-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a metus pellentesque, scelerisque ex sed, volutpat nisi. Curabitur tortor mi, eleifend ornare lobortis non. Nulla porta purus quis iaculis ultrices. Proin aliquam sem at nibh hendrerit sagittis. Nullam ornare odio eu lacus tincidunt malesuada. Sed eu vestibulum elit. Curabitur tortor mi, eleifend ornare.</div>
                                    </div>

                                    <div class="wprt-toggle style-1">
                                        <h3 class="toggle-title">Quality construction continues after the project</h3>
                                        <div class="toggle-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a metus pellentesque, scelerisque ex sed, volutpat nisi. Curabitur tortor mi, eleifend ornare lobortis non. Nulla porta purus quis iaculis ultrices. Proin aliquam sem at nibh hendrerit sagittis. Nullam ornare odio eu lacus tincidunt malesuada. Sed eu vestibulum elit. Curabitur tortor mi, eleifend ornare.</div>
                                    </div>

                                    <div class="wprt-toggle style-1">
                                        <h3 class="toggle-title">They use technology to do the job more quickly</h3>
                                        <div class="toggle-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a metus pellentesque, scelerisque ex sed, volutpat nisi. Curabitur tortor mi, eleifend ornare lobortis non. Nulla porta purus quis iaculis ultrices. Proin aliquam sem at nibh hendrerit sagittis. Nullam ornare odio eu lacus tincidunt malesuada. Sed eu vestibulum elit. Curabitur tortor mi, eleifend ornare.</div>
                                    </div>

                                    <div class="wprt-toggle style-1">
                                        <h3 class="toggle-title">Employees are continually trained on safety issues</h3>
                                        <div class="toggle-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a metus pellentesque, scelerisque ex sed, volutpat nisi. Curabitur tortor mi, eleifend ornare lobortis non. Nulla porta purus quis iaculis ultrices. Proin aliquam sem at nibh hendrerit sagittis. Nullam ornare odio eu lacus tincidunt malesuada. Sed eu vestibulum elit. Curabitur tortor mi, eleifend ornare.</div>
                                    </div>
                                </div><!-- /.col-md-6 -->
<!--                                END OF TOGGLES-->

                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
